.idea
build
*.pyc
/node_modules
/bower_components
/pycache
*.cpython
*.sublime-workspace
*.sublime-project
media/*
#conf/settings.py
packages/*
/.vscode/
/.git-old/
/build
package-lock.json
*.log
.env
*.rdb