<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<title>BIRT Report Viewer</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
			<style type="text/css">
					.style_26 { margin-right: 0pt; margin-left: 0pt; padding-right: 3pt; padding-left: 3pt;}
					.style_8 { font-family: sans-serif; font-size: 9pt; color: rgb(96, 96, 96);}
					.style_9 { font-family: sans-serif; font-size: 9pt; color: rgb(96, 96, 96);}
					.style_7 { margin-top: 20pt;}
					.style_0 { font-family: sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 10pt; color: black; text-indent: 0em; letter-spacing: normal; word-spacing: normal; text-transform: none; white-space: normal; line-height: normal;}
					.style_21 { font-size: 10pt;}
					.style_1 { font-weight: bold;}
					.style_20 { padding: 1pt 3pt; border: thin solid rgb(0, 0, 0);}
					.style_22 { padding-right: 3pt; padding-left: 3pt; border: thin solid rgb(0, 0, 0);}
					.style_4 { margin-bottom: 15pt;}
					.style_5 { font-weight: bold;}
					.style_2 { font-weight: bold;}
					.style_3 { font-family: sans-serif; font-size: 9pt; color: rgb(96, 96, 96);}
					.style_18 { border: thin solid rgb(128, 128, 128);}
					.style_17 { font-family: Nikosh;}
					.style_19 { font-family: Nikosh; font-weight: bold;}
					.style_14 { font-family: Nikosh;}
					.style_13 { margin-top: 20pt;}
					.style_10 { margin-top: 20pt; padding-right: 3pt; padding-left: 3pt;}
					.style_12 { margin-top: 20pt; padding-right: 1pt; padding-left: 1pt;}
					.style_11 { margin-top: 20pt;}
			</style>
			<script type="text/javascript">
			 //<![CDATA[
			   function redirect(target, url){
			       if (target =='_blank'){
			           open(url);
			       }
			       else if (target == '_top'){
			           window.top.location.href=url;
			       }
			       else if (target == '_parent'){
			           location.href=url;
			       }
			       else if (target == '_self'){
			           location.href =url;
			       }
			       else{
			           open(url);
			       }
			      }
			 //]]>
			</script>
		</head>
		<body class="style_0" style=" margin:0px;">
			<table cellpadding="0" rules="none" border="0" style="empty-cells: show; width:8.5in; overflow: hidden; table-layout:fixed;">
				<col></col>
				<tr>
					<td valign="top">
						<table class="style_14" style="border-collapse: collapse; empty-cells: show; width: 100%; overflow:hidden; table-layout:fixed;" id="AUTOGENBOOKMARK_1_6430e619-cfc2-499e-989b-f1a6503dc0bb">
							<col></col>
							<tr valign="top">
								<td style=" overflow:hidden;">
									<div id="AUTOGENBOOKMARK_2_0ce3c40e-c041-49b3-af36-a9efc543b5ef" style=" text-align:right;">মূসক -৬.৬&#xa0;&#xa0;</div>
								</td>
							</tr>
							<tr valign="top">
								<td style=" overflow:hidden;">
									<div class="style_5" style=" text-align:center;">গণপ্রজাতন্ত্রী বাংলাদেশ সরকার</div>
								</td>
							</tr>
							<tr valign="top">
								<td style=" overflow:hidden;">
									<div id="AUTOGENBOOKMARK_3_64ddcdc6-d3bf-48bb-9dc5-02b4bd924183" style=" text-align:center;">জাতীয় রাজস্ব বোর্ড</div>
								</td>
							</tr>
							<tr valign="top">
								<td style=" overflow:hidden;">
									<div id="AUTOGENBOOKMARK_4_0c0b1a63-2a38-4f20-9e69-1ef1f19addc1" style=" text-align:center;">
										<div style="visibility:hidden">&#xa0;</div>
									</div>
								</td>
							</tr>
							<tr valign="top">
								<td style=" overflow:hidden;">
									<div class="style_5" id="AUTOGENBOOKMARK_5_8eb3d9ce-f0b5-42b4-8f19-7f522c07f056" style=" text-align:center;">উৎসে কর কর্তন সনদপত্র&#xa0;</div>
								</td>
							</tr>
							<tr valign="top">
								<td style=" overflow:hidden;">
									<div id="AUTOGENBOOKMARK_6_c56f1b73-46d9-47fb-8ed3-5e55326c2ce6" style=" text-align:center;">[বিধি ৪০ এর উপ-বিধি&#xa0; (১) এর দফা (চ) দ্রষ্টব্য]</div>
								</td>
							</tr>
							<tr valign="top">
								<td style=" overflow:hidden;">
									<div id="AUTOGENBOOKMARK_7_cd0ba5be-a73a-4f0e-aa25-42f0cdbc469b">
										<div style="visibility:hidden">&#xa0;</div>
									</div>
								</td>
							</tr>
						</table>
						<table class="style_14" style="border-collapse: collapse; empty-cells: show; height: 2.806in; width: 100%; overflow:hidden; table-layout:fixed;" id="__bookmark_1">
							<col style=" width: 20%;"></col>
							<col></col>
							<col style=" width: 20%;"></col>
							<col></col>
							<tr valign="top">
								<td colspan="4" style=" overflow:hidden;" align="center">
									<span id="AUTOGENBOOKMARK_8_2f8b2677-1063-4477-b5e0-d3512504d4a6">উৎসে কর কর্তনকারী সত্তার নাম :</span>
									<span id="__bookmark_2">&#xa0;</span>
								</td>
							</tr>
							<tr valign="top">
								<td colspan="4" style=" overflow:hidden;" align="center">
									<span id="AUTOGENBOOKMARK_9_26a7fe9b-72f8-4ae5-be0e-9ff9152b127e">উৎসে কর কর্তনকারী সত্তার ঠিকানা:</span>
									<span>&#xa0;</span>
								</td>
							</tr>
							<tr valign="top">
								<td colspan="2" style=" overflow:hidden;">
									<div id="AUTOGENBOOKMARK_10_e7e748d2-92f4-4014-ab9c-60e723d1bce6">উৎসে কর কর্তনকারী সত্তার বিআইএন (প্রযোজ্য ক্ষেত্রে ):&#xa0;</div>
								</td>
								<td colspan="2" style=" overflow:hidden;">
									<div>
										<div style="visibility:hidden">&#xa0;</div>
									</div>
								</td>
							</tr>
							<tr valign="top">
								<td style=" overflow:hidden;">
									<div id="AUTOGENBOOKMARK_11_066d535c-21e3-485a-b975-c5cfbbb8c02a">উৎসে কর কর্তন সনদপত্র নং:&#xa0;</div>
								</td>
								<td style=" overflow:hidden;"></td>
								<td style=" overflow:hidden;">
									<div id="AUTOGENBOOKMARK_12_1e6523d6-4190-4088-a32f-2d9aed7e15bc">জারির&#xa0; তারিখ :&#xa0;</div>
								</td>
								<td style=" overflow:hidden;"></td>
							</tr>
							<tr valign="top">
								<td colspan="4" style=" overflow:hidden;">
									<div id="AUTOGENBOOKMARK_13_66916038-a0ca-4e20-b514-449273f50012">এই মর্মে প্রত্যয়ন করা যাইতেছে যে , আইনের ধারা ৪৯ অনুযায়ী উৎসে কর কর্তনযোগ্য সরবরাহ হইতে প্রযোজ্য মূল্য সংযোজন কর বাবদ উৎসে কর কর্তন করা হইল । কর্তনকৃত মূল্য সংযোজন কর্মের অর্থ বুক ট্রান্সফার/ট্রেজারি চালান/দাখিলপর্ত্রে বৃদ্ধিকারী সমন্বয়ের মাধ্যমে সরকারী কোষাগারে প্রদান করা হইয়াছে । কপি এতদসঙ্গে সংযুক্ত করা হইল (প্রযোজ্য ক্ষেত্রে) ।&#xa0;</div>
								</td>
							</tr>
						</table>
						<div class="style_17" id="AUTOGENBOOKMARK_14_f308eb93-c68c-497a-9cf2-0fc70719b8f2" style=" text-align:center;">
							<div style="visibility:hidden">&#xa0;</div>
						</div>
						<table class="style_18" style="border-collapse: collapse; empty-cells: show; width: 100%; overflow:hidden; table-layout:fixed;" id="__bookmark_3">
							<col style=" width: 6%;"></col>
							<col style=" width: 12%;"></col>
							<col style=" width: 14%;"></col>
							<col style=" width: 12%;"></col>
							<col style=" width: 14%;"></col>
							<col style=" width: 14%;"></col>
							<col style=" width: 14%;"></col>
							<col style=" width: 14%;"></col>
							<tr class="style_19" valign="top" align="center">
								<th class="style_20" rowspan="2" style=" overflow:hidden;" align="left">
									<div id="AUTOGENBOOKMARK_15_f5ede656-ed48-41d8-8da4-975df894f0ac" style=" text-align:center;">ক্রমিক সংখ্যা</div>
								</th>
								<th class="style_20" colspan="2" style=" overflow:hidden;" align="left">
									<div id="AUTOGENBOOKMARK_16_cade9abe-462b-4f94-9036-b974b3ab3da5" style=" text-align:center;">সরবরাহকারীর&#xa0;</div>
								</th>
								<th class="style_20" colspan="2" style=" overflow:hidden;" align="left">
									<div id="AUTOGENBOOKMARK_17_128ba7fc-c94d-4c3d-89a3-a2046773b9ef" style=" text-align:center;">সংশ্লিষ্ট কর চালানপত্র</div>
								</th>
								<th class="style_20" rowspan="2" style=" overflow:hidden;" align="left">
									<div id="AUTOGENBOOKMARK_18_e9c1c153-66a8-429f-9c5b-b70d015fa472" style=" text-align:center;">মোট সরবরাহ মূল্য১&#xa0; (টাকা)</div>
								</th>
								<th class="style_20" rowspan="2" style=" overflow:hidden;" align="left">
									<div id="AUTOGENBOOKMARK_19_8c821682-6bf6-48ba-b27b-805963bb3ada" style=" text-align:center;">মুসকের পরিমাণ&#xa0; (টাকা)</div>
								</th>
								<th class="style_20" rowspan="2" style=" overflow:hidden;" align="left">
									<div id="AUTOGENBOOKMARK_20_55b9527e-4e7c-4235-b5ca-1005f5a6d1a3" style=" text-align:center;"> উৎসে কর্তনকৃত মুসকের পরিমাণ (টাকা)</div>
								</th>
							</tr>
							<tr class="style_19" valign="top" align="center">
								<th class="style_20" style=" overflow:hidden;" align="left">
									<div id="AUTOGENBOOKMARK_21_b5a370a2-8cef-427e-a653-30e3c73fab19" style=" text-align:center;">নাম&#xa0;</div>
								</th>
								<th class="style_20" style=" overflow:hidden;" align="left">
									<div id="AUTOGENBOOKMARK_22_129db47e-1083-45f6-9482-6e5ea5cb446c" style=" text-align:center;">বিআইএন</div>
								</th>
								<th class="style_20" style=" overflow:hidden;" align="left">
									<div id="AUTOGENBOOKMARK_23_471c3b8e-d260-441a-bb8a-b1b423a455f4" style=" text-align:center;"> নম্বর&#xa0;</div>
								</th>
								<th class="style_20" style=" overflow:hidden;" align="left">
									<div class="style_21" id="AUTOGENBOOKMARK_24_670afbc3-b665-44dc-8ede-02f1dd528565" style=" text-align:center;">ইস্যুর তারিখ&#xa0;</div>
								</th>
							</tr>
							<tr class="style_19" valign="top" align="center">
								<th class="style_20" style=" overflow:hidden;" align="left">
									<div id="AUTOGENBOOKMARK_25_ab45c3ab-9c88-4f7b-ad55-c533ac1440ba" style=" text-align:center;">(১)</div>
								</th>
								<th class="style_20" style=" overflow:hidden;" align="left">
									<div id="AUTOGENBOOKMARK_26_03ac51ab-ae19-43e2-9e25-e9a711bdd1e1" style=" text-align:center;">(২)</div>
								</th>
								<th class="style_20" style=" overflow:hidden;" align="left">
									<div id="AUTOGENBOOKMARK_27_f74c1466-d2fd-4898-a8d3-cfbd585710f9" style=" text-align:center;">(৩)</div>
								</th>
								<th class="style_20" style=" overflow:hidden;" align="left">
									<div id="AUTOGENBOOKMARK_28_f77fec91-dda5-4f02-9d6c-1f901781b70e" style=" text-align:center;">(৪)</div>
								</th>
								<th class="style_20" style=" overflow:hidden;" align="left">
									<div id="AUTOGENBOOKMARK_29_25a29dce-a9da-4e4e-9cbc-2c5d06e66f00" style=" text-align:center;">(৫)</div>
								</th>
								<th class="style_20" style=" overflow:hidden;" align="left">
									<div id="AUTOGENBOOKMARK_30_28d0f4a4-266e-43a7-a1f5-f49a6ecc485b" style=" text-align:center;">(৬)</div>
								</th>
								<th class="style_20" style=" overflow:hidden;" align="left">
									<div id="AUTOGENBOOKMARK_31_94f526e2-36f8-4191-a19a-8134e972d385" style=" text-align:center;">(৭ )</div>
								</th>
								<th class="style_20" style=" overflow:hidden;" align="left">
									<div id="AUTOGENBOOKMARK_32_79d5b2f4-97ad-4217-b103-47daae556955" style=" text-align:center;">(৮)</div>
								</th>
							</tr>
							<tr valign="top">
								<td class="style_26" style=" overflow:hidden;"></td>
								<td class="style_26" style=" overflow:hidden;"></td>
								<td class="style_26" style=" overflow:hidden;"></td>
								<td class="style_26" style=" overflow:hidden;"></td>
								<td class="style_26" style=" overflow:hidden;"></td>
								<td class="style_26" style=" overflow:hidden;"></td>
								<td class="style_26" style=" overflow:hidden;"></td>
								<td class="style_26" style=" overflow:hidden;"></td>
							</tr>
						</table>
						<div id="AUTOGENBOOKMARK_33_17ba4021-4fae-4f99-b8dd-10f02bba71fb">
							<div style="visibility:hidden">&#xa0;</div>
						</div>
						<table class="style_14" style="border-collapse: collapse; empty-cells: show; width: 100%; overflow:hidden; table-layout:fixed;" id="AUTOGENBOOKMARK_34_4fa7beda-752b-4719-a4ee-03ed00a55167">
							<col></col>
							<tr valign="top">
								<td style=" overflow:hidden;"></td>
							</tr>
							<tr valign="top">
								<td style=" overflow:hidden;">
									<div id="AUTOGENBOOKMARK_35_bda280d1-e651-47eb-8a47-8ca74191e71f">&#xa0;&#xa0;<br/>ক্ষমতাপ্রাপ্ত কর্মকর্তার স্বাক্ষর-&#xa0;<br/>&#xa0;<br/>&#xa0;<br/>স্বাক্ষর:&#xa0; ....<br/>নাম: ....<br/><br/><br/>১ মূসক ও সম্পূরক শুল্ক (যদি থাকে) সহ মূল্য ।&#xa0;<br/></div>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<table style="border-collapse: collapse; empty-cells: show; width: 100%; overflow:hidden; table-layout:fixed;" id="AUTOGENBOOKMARK_36_ef10917c-d5e2-40b5-b559-fabd48918e3a">
							<col style=" width: 1.5in;"></col>
							<col></col>
							<col style=" width: 1.5in;"></col>
							<tr valign="top">
								<td class="style_3" colspan="3" style=" overflow:hidden;"></td>
							</tr>
							<tr valign="top">
								<td class="style_3" style=" overflow:hidden;">
									<div class="style_7">07/26/2019 7:35</div>
								</td>
								<td class="style_8" style=" overflow:hidden;" align="center" valign="bottom">
									<div>
										<div style="visibility:hidden">&#xa0;</div>
									</div>
								</td>
								<td class="style_9" style=" overflow:hidden;" align="right" valign="bottom">
									<span class="style_10" id="AUTOGENBOOKMARK_37_081576e7-a9f1-4ccc-a836-2c6d579aff59" style=" text-align:right;">Page&#xa0;</span>
									<span class="style_11">1</span>
									<span class="style_12" id="AUTOGENBOOKMARK_38_dac38a32-5be8-4f28-91dc-08d4e4f405b8" style=" text-align:right;">&#xa0;of&#xa0;</span>
									<span class="style_13" style=" text-align:right;">1</span>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</body>
	</html>