<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<title>BIRT Report Viewer</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
			<style type="text/css">
					.style_28 { font-family: Nikosh;}
					.style_25 { margin-right: 0pt; margin-left: 0pt; padding-right: 3pt; padding-left: 3pt;}
					.style_26 { font-family: Nikosh;}
					.style_8 { font-family: sans-serif; font-size: 9pt; color: rgb(96, 96, 96);}
					.style_9 { font-family: sans-serif; font-size: 9pt; color: rgb(96, 96, 96);}
					.style_7 { margin-top: 20pt;}
					.style_0 { font-family: sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 10pt; color: black; text-indent: 0em; letter-spacing: normal; word-spacing: normal; text-transform: none; white-space: normal; line-height: normal;}
					.style_21 { padding-right: 3pt; padding-left: 3pt; border: thin solid rgb(0, 0, 0);}
					.style_1 { font-weight: bold;}
					.style_20 { font-size: 10pt;}
					.style_4 { margin-bottom: 15pt;}
					.style_5 { font-weight: bold;}
					.style_2 { font-weight: bold;}
					.style_3 { font-family: sans-serif; font-size: 9pt; color: rgb(96, 96, 96);}
					.style_18 { font-family: Nikosh; font-weight: bold;}
					.style_17 { border: thin solid rgb(128, 128, 128);}
					.style_19 { padding: 1pt 3pt; border: thin solid rgb(0, 0, 0);}
					.style_14 { font-family: Nikosh;}
					.style_36 { font-family: Nikosh;}
					.style_13 { margin-top: 20pt;}
					.style_16 { font-family: Nikosh;}
					.style_38 { border: thin solid black;}
					.style_10 { margin-top: 20pt; padding-right: 3pt; padding-left: 3pt;}
					.style_32 { font-family: Nikosh;}
					.style_12 { margin-top: 20pt; padding-right: 1pt; padding-left: 1pt;}
					.style_34 { font-family: Nikosh;}
					.style_11 { margin-top: 20pt;}
					.style_30 { font-family: Nikosh;}
			</style>
			<script type="text/javascript">
			 //<![CDATA[
			   function redirect(target, url){
			       if (target =='_blank'){
			           open(url);
			       }
			       else if (target == '_top'){
			           window.top.location.href=url;
			       }
			       else if (target == '_parent'){
			           location.href=url;
			       }
			       else if (target == '_self'){
			           location.href =url;
			       }
			       else{
			           open(url);
			       }
			      }
			 //]]>
			</script>
		</head>
		<body class="style_0" style=" margin:0px;">
			<table cellpadding="0" rules="none" border="0" style="empty-cells: show; width:8.5in; overflow: hidden; table-layout:fixed;">
				<col></col>
				<tr>
					<td valign="top">
						<table class="style_14" style="border-collapse: collapse; empty-cells: show; width: 100%; overflow:hidden; table-layout:fixed;" id="AUTOGENBOOKMARK_1_4c3bdca5-4dfe-4deb-a929-7546112fd2f0">
							<col></col>
							<tr valign="top">
								<td style=" overflow:hidden;">
									<div id="AUTOGENBOOKMARK_2_a72ede4c-df4a-4b9a-b869-3a0e98dffff5" style=" text-align:right;">মূসক -৬.৮&#xa0;</div>
								</td>
							</tr>
							<tr valign="top">
								<td style=" overflow:hidden;">
									<div class="style_5" style=" text-align:center;">গণপ্রজাতন্ত্রী বাংলাদেশ সরকার</div>
								</td>
							</tr>
							<tr valign="top">
								<td style=" overflow:hidden;">
									<div id="AUTOGENBOOKMARK_3_62899fb2-2c88-4098-a37a-7a4d9a012e23" style=" text-align:center;">জাতীয় রাজস্ব বোর্ড</div>
								</td>
							</tr>
							<tr valign="top">
								<td style=" overflow:hidden;">
									<div id="AUTOGENBOOKMARK_4_b4902efd-3458-494d-bcd9-4b4996ada7d4" style=" text-align:center;">
										<div style="visibility:hidden">&#xa0;</div>
									</div>
								</td>
							</tr>
							<tr valign="top">
								<td style=" overflow:hidden;">
									<div class="style_5" id="AUTOGENBOOKMARK_5_f1fa9b95-eb2c-47a7-b6f2-00ebfd468e45" style=" text-align:center;">ডেবিট&#xa0; নোট</div>
								</td>
							</tr>
							<tr valign="top">
								<td style=" overflow:hidden;">
									<div id="AUTOGENBOOKMARK_6_c2bd199b-d998-4a74-b998-b42aa7e47af0" style=" text-align:center;">[বিধি ৪০ এর উপবিধি&#xa0; (১) এর দফা (ছ) দ্রষ্টব্য]</div>
								</td>
							</tr>
							<tr valign="top">
								<td style=" overflow:hidden;">
									<div id="AUTOGENBOOKMARK_7_1d7fada3-9de9-4fa2-b90b-9da5a491ca45">
										<div style="visibility:hidden">&#xa0;</div>
									</div>
								</td>
							</tr>
						</table>
						<table class="style_14" style="border-collapse: collapse; empty-cells: show; height: 2.25in; width: 100%; overflow:hidden; table-layout:fixed;" id="AUTOGENBOOKMARK_8_bed351ca-3cd5-4f64-8089-757a672e5411">
							<col style=" width: 20%;"></col>
							<col></col>
							<col style=" width: 20%;"></col>
							<col></col>
							<tr valign="top">
								<td style=" overflow:hidden;">
									<div id="AUTOGENBOOKMARK_9_df320a1a-e77c-4aeb-9ef6-2119e7c80aa8">ফেরত প্রদানকারী ব্যাক্তির -&#xa0;</div>
								</td>
								<td style=" overflow:hidden;"></td>
								<td style=" overflow:hidden;">
									<div id="AUTOGENBOOKMARK_10_89efd002-9c82-498e-a64d-8d575c8666bb">ফেরত গ্রহনকারী ব্যাক্তির -&#xa0;</div>
								</td>
								<td style=" overflow:hidden;"></td>
							</tr>
							<tr valign="top">
								<td style=" overflow:hidden;">
									<div id="AUTOGENBOOKMARK_11_ffa10060-f128-4f8a-b685-e26c9230c3d4">নাম :</div>
								</td>
								<td style=" overflow:hidden;">
									<div id="__bookmark_1">
										<div style="visibility:hidden">&#xa0;</div>
									</div>
								</td>
								<td style=" overflow:hidden;">
									<div id="AUTOGENBOOKMARK_12_3094d587-3679-4fc2-9ebd-68c98514c2a2">নাম :</div>
								</td>
								<td style=" overflow:hidden;">
									<div id="__bookmark_2">
										<div style="visibility:hidden">&#xa0;</div>
									</div>
								</td>
							</tr>
							<tr valign="top">
								<td style=" overflow:hidden;">
									<div id="AUTOGENBOOKMARK_13_70e45d61-095e-43ce-8029-d51955804673">বিআইএন:&#xa0;</div>
								</td>
								<td style=" overflow:hidden;">
									<div id="__bookmark_3">
										<div style="visibility:hidden">&#xa0;</div>
									</div>
								</td>
								<td style=" overflow:hidden;">
									<div id="AUTOGENBOOKMARK_14_0b5c71cb-bd7b-44fb-97ae-743be72ba823">বিআইএন:&#xa0;</div>
								</td>
								<td style=" overflow:hidden;">
									<div class="style_14" id="__bookmark_4">
										<div style="visibility:hidden">&#xa0;</div>
									</div>
								</td>
							</tr>
							<tr valign="top">
								<td style=" overflow:hidden;">
									<div id="AUTOGENBOOKMARK_15_ada001d3-ea4a-4322-a683-6ec86a7260f5">মূল চালান নম্বর:&#xa0;</div>
								</td>
								<td style=" overflow:hidden;">
									<div id="__bookmark_5">
										<div style="visibility:hidden">&#xa0;</div>
									</div>
								</td>
								<td style=" overflow:hidden;">
									<div id="AUTOGENBOOKMARK_16_7af93a7d-5a42-4083-b341-e001f926b5e7">ডেবিট নোট নম্বর:&#xa0;</div>
								</td>
								<td style=" overflow:hidden;">
									<div class="style_14" id="__bookmark_6">
										<div style="visibility:hidden">&#xa0;</div>
									</div>
								</td>
							</tr>
							<tr valign="top">
								<td style=" overflow:hidden;">
									<div id="AUTOGENBOOKMARK_17_6d1c0032-2755-4241-b8f6-45c183fe5b1c">মূল চালান ইস্যুর তারিখ :&#xa0;</div>
								</td>
								<td style=" overflow:hidden;">
									<div id="__bookmark_7">
										<div style="visibility:hidden">&#xa0;</div>
									</div>
								</td>
								<td style=" overflow:hidden;">
									<div id="AUTOGENBOOKMARK_18_e7e2fb1b-31f0-485d-b355-d9dd9b380c88">ইস্যুর তারিখ :&#xa0;</div>
								</td>
								<td style=" overflow:hidden;">
									<div class="style_14" id="__bookmark_8">
										<div style="visibility:hidden">&#xa0;</div>
									</div>
								</td>
							</tr>
							<tr valign="top">
								<td style=" overflow:hidden;"></td>
								<td style=" overflow:hidden;"></td>
								<td style=" overflow:hidden;">
									<div id="AUTOGENBOOKMARK_19_db7f3310-6985-48a3-8ab8-4737e35806c0">ইস্যুর সময় :&#xa0;</div>
								</td>
								<td style=" overflow:hidden;">
									<div id="__bookmark_9">
										<div style="visibility:hidden">&#xa0;</div>
									</div>
								</td>
							</tr>
							<tr valign="top">
								<td style=" overflow:hidden;"></td>
								<td style=" overflow:hidden;"></td>
								<td style=" overflow:hidden;"></td>
								<td style=" overflow:hidden;"></td>
							</tr>
						</table>
						<div class="style_16" id="AUTOGENBOOKMARK_20_b43d5084-ccf8-42e5-b6ee-27ed27374fda" style=" text-align:center;">সরবরাহের বিবরন&#xa0;</div>
						<table class="style_17" style="border-collapse: collapse; empty-cells: show; width: 100%; overflow:hidden; table-layout:fixed;" id="__bookmark_10">
							<col style=" width: 5%;"></col>
							<col style=" width: 20%;"></col>
							<col style=" width: 12%;"></col>
							<col style=" width: 20%;"></col>
							<col style=" width: 20%;"></col>
							<col></col>
							<tr class="style_18" valign="top" align="center">
								<th class="style_19" style=" overflow:hidden;" align="left">
									<div id="AUTOGENBOOKMARK_21_c5b66c76-52a1-46ef-9ca4-32293322dbb5" style=" text-align:center;">ক্রমিক সংখ্যা</div>
								</th>
								<th class="style_19" style=" overflow:hidden;" align="left">
									<div id="AUTOGENBOOKMARK_22_a775e27b-5330-49ec-b0fd-95dce3004b55" style=" text-align:center;">ফেরতপ্রাপ্ত সরবরাহের বিবরন&#xa0;</div>
								</th>
								<th class="style_19" style=" overflow:hidden;" align="left">
									<div id="AUTOGENBOOKMARK_23_dfa5dafe-39b1-4b87-85b8-4d41fd6b148d" style=" text-align:center;">সরবরাহের একক&#xa0;</div>
								</th>
								<th class="style_19" style=" overflow:hidden;" align="left">
									<div id="AUTOGENBOOKMARK_24_f14dfad9-80bc-4568-a901-949a272a19be" style=" text-align:center;">পরিমাণ&#xa0;</div>
								</th>
								<th class="style_19" style=" overflow:hidden;" align="left">
									<div class="style_20" id="AUTOGENBOOKMARK_25_fa729bcd-18a2-42f2-8bad-16930a82caec" style=" text-align:center;">একক মূল্য ১ (টাকায়)</div>
								</th>
								<th class="style_19" style=" overflow:hidden;" align="left">
									<div id="AUTOGENBOOKMARK_26_751e0f75-1490-4c3d-847a-b2e3964116cc" style=" text-align:center;">মোট মূল্য (টাকায়)</div>
								</th>
							</tr>
							<tr class="style_18" valign="top" align="center">
								<th class="style_19" style=" overflow:hidden;" align="left">
									<div id="AUTOGENBOOKMARK_27_eb552d59-0fa8-4c44-9b79-623767ce2bb9" style=" text-align:center;">(১)</div>
								</th>
								<th class="style_19" style=" overflow:hidden;" align="left">
									<div id="AUTOGENBOOKMARK_28_255a5f2e-a2a7-473f-9511-3eae6c9ead8f" style=" text-align:center;">(২)</div>
								</th>
								<th class="style_19" style=" overflow:hidden;" align="left">
									<div id="AUTOGENBOOKMARK_29_90d1903a-4a08-4ea7-aa16-aac96c64cc3a" style=" text-align:center;">(৩)</div>
								</th>
								<th class="style_19" style=" overflow:hidden;" align="left">
									<div id="AUTOGENBOOKMARK_30_6fb04942-5708-4a31-8956-d89212076f58" style=" text-align:center;">(৪)</div>
								</th>
								<th class="style_19" style=" overflow:hidden;" align="left">
									<div id="AUTOGENBOOKMARK_31_44f5a325-ac0e-43c5-9d02-621dc1bd4afb" style=" text-align:center;">(৫)</div>
								</th>
								<th class="style_19" style=" overflow:hidden;" align="left">
									<div id="AUTOGENBOOKMARK_32_ef7cac9b-4dcb-4c4c-b1a7-3952a95bf858" style=" text-align:center;">(৬)</div>
								</th>
							</tr>
							<tr valign="top">
								<td class="style_25" style=" overflow:hidden;"></td>
								<td class="style_25" style=" overflow:hidden;"></td>
								<td class="style_25" style=" overflow:hidden;"></td>
								<td class="style_25" style=" overflow:hidden;"></td>
								<td class="style_25" style=" overflow:hidden;">
									<div class="style_14" id="AUTOGENBOOKMARK_33_14cbe5d8-d3b8-476f-8fbd-563c3e4140ce">মোট মূল্য&#xa0;</div>
								</td>
								<td class="style_25" style=" overflow:hidden;">
									<div class="style_26" style=" text-align:right;">
										<div style="visibility:hidden">&#xa0;</div>
									</div>
								</td>
							</tr>
							<tr valign="top">
								<td class="style_25" style=" overflow:hidden;"></td>
								<td class="style_25" style=" overflow:hidden;"></td>
								<td class="style_25" style=" overflow:hidden;"></td>
								<td class="style_25" style=" overflow:hidden;"></td>
								<td class="style_25" style=" overflow:hidden;">
									<div class="style_14">বাদ কর্তন <sup>২</sup>
									</div>
								</td>
								<td class="style_25" style=" overflow:hidden;">
									<div class="style_28" style=" text-align:right;">০.০০</div>
								</td>
							</tr>
							<tr valign="top">
								<td class="style_25" style=" overflow:hidden;"></td>
								<td class="style_25" style=" overflow:hidden;"></td>
								<td class="style_25" style=" overflow:hidden;"></td>
								<td class="style_25" style=" overflow:hidden;"></td>
								<td class="style_25" style=" overflow:hidden;">
									<div class="style_14" id="AUTOGENBOOKMARK_34_5f759818-7f99-41b1-9f77-423066fdc472">মূসকসহ মূল্য</div>
								</td>
								<td class="style_25" style=" overflow:hidden;">
									<div class="style_30" style=" text-align:right;">০.০০</div>
								</td>
							</tr>
							<tr valign="top">
								<td class="style_25" style=" overflow:hidden;"></td>
								<td class="style_25" style=" overflow:hidden;"></td>
								<td class="style_25" style=" overflow:hidden;"></td>
								<td class="style_25" style=" overflow:hidden;"></td>
								<td class="style_25" style=" overflow:hidden;">
									<div class="style_14" id="AUTOGENBOOKMARK_35_3c09e8ec-bc8d-4b25-866c-bbba54605807">মূসকের পরিমাণ&#xa0;</div>
								</td>
								<td class="style_25" style=" overflow:hidden;">
									<div class="style_32" style=" text-align:right;">
										<div style="visibility:hidden">&#xa0;</div>
									</div>
								</td>
							</tr>
							<tr valign="top">
								<td class="style_25" style=" overflow:hidden;"></td>
								<td class="style_25" style=" overflow:hidden;"></td>
								<td class="style_25" style=" overflow:hidden;"></td>
								<td class="style_25" style=" overflow:hidden;"></td>
								<td class="style_25" style=" overflow:hidden;">
									<div class="style_14" id="AUTOGENBOOKMARK_36_d46522f0-4a1e-46e0-b15d-6710b91de1c3">সম্পূরক শুল্কের পরিমাণ&#xa0;</div>
								</td>
								<td class="style_25" style=" overflow:hidden;">
									<div class="style_34" style=" text-align:right;">
										<div style="visibility:hidden">&#xa0;</div>
									</div>
								</td>
							</tr>
							<tr valign="top">
								<td class="style_25" style=" overflow:hidden;"></td>
								<td class="style_25" style=" overflow:hidden;"></td>
								<td class="style_25" style=" overflow:hidden;"></td>
								<td class="style_25" style=" overflow:hidden;"></td>
								<td class="style_25" style=" overflow:hidden;">
									<div class="style_14">মোট কর <sup>৩</sup>
									</div>
								</td>
								<td class="style_25" style=" overflow:hidden;">
									<div class="style_36" style=" text-align:right;">০.০০</div>
								</td>
							</tr>
						</table>
						<div id="AUTOGENBOOKMARK_37_9731a0c2-a769-4208-bb09-2216b9fc6f92">
							<div style="visibility:hidden">&#xa0;</div>
						</div>
						<div class="style_14" id="AUTOGENBOOKMARK_38_68436156-50da-4a15-9ccd-f1e233362640">ফেরতের কারণ&#xa0;</div>
						<table class="style_14" style="border-collapse: collapse; empty-cells: show; width: 100%; overflow:hidden; table-layout:fixed;" id="AUTOGENBOOKMARK_39_a9901e2b-9e3c-49f2-8127-0df89d810107">
							<col></col>
							<tr valign="top">
								<td style=" overflow:hidden;">
									<div class="style_38" id="__bookmark_11">
										<div style="visibility:hidden">&#xa0;</div>
									</div>
								</td>
							</tr>
							<tr valign="top">
								<td style=" overflow:hidden;">
									<div id="AUTOGENBOOKMARK_40_ddc5e06c-8f90-4042-bfa9-916ad30370a5">&#xa0;&#xa0;<br/>দায়িত্বপ্রাপ্ত ব্যাক্তির স্বাক্ষর&#xa0;<br/>&#xa0;<br/>&#xa0;<br/>&#xa0;<br/>১ প্রতি একক পণ্য / সেবার মূসক ও সম্পূরক শুল্ক সহ মূল্য ।&#xa0;<br/>২ ফেরত প্রদানের জন্য কোনো কর্তন থাকইলে উহার পরিমাণ ।<br/>৩ মূসক ও সম্পূরক শুল্কের যোগফল ।&#xa0;<br/><br/><br/><br/>১ এসআরও নং-১৫৯ - আইন / ২০১৭/ ০২-&#xa0; মূসক, তারিখ: ১ জুন , ২০১৭ দ্বারা প্রতিষ্ঠাপিত।&#xa0;<br/></div>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<table style="border-collapse: collapse; empty-cells: show; width: 100%; overflow:hidden; table-layout:fixed;" id="AUTOGENBOOKMARK_41_552ca712-e457-4160-8608-175d1cff751f">
							<col style=" width: 1.5in;"></col>
							<col></col>
							<col style=" width: 1.5in;"></col>
							<tr valign="top">
								<td class="style_3" colspan="3" style=" overflow:hidden;"></td>
							</tr>
							<tr valign="top">
								<td class="style_3" style=" overflow:hidden;">
									<div class="style_7">07/26/2019 7:36</div>
								</td>
								<td class="style_8" style=" overflow:hidden;" align="center" valign="bottom">
									<div>
										<div style="visibility:hidden">&#xa0;</div>
									</div>
								</td>
								<td class="style_9" style=" overflow:hidden;" align="right" valign="bottom">
									<span class="style_10" id="AUTOGENBOOKMARK_42_5ac80de4-b1f0-4a5d-9478-d23d8fa4cdb8" style=" text-align:right;">Page&#xa0;</span>
									<span class="style_11">1</span>
									<span class="style_12" id="AUTOGENBOOKMARK_43_e4767087-07a7-4673-b87b-57bd0e143014" style=" text-align:right;">&#xa0;of&#xa0;</span>
									<span class="style_13" style=" text-align:right;">1</span>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
				<hr style="color:red"/>
				<div style="color:red">
					<div>The following items have errors:
			</div>
			<br>
						<div>
							<div  id="error_title" style="text-decoration:underline">Data (id = 2428):
			</div>
			<div>
			<span id="error_icon0_0"  style="cursor:pointer" onclick="if (document.getElementById('error_detail0_0').style.display == 'none') { document.getElementById('error_icon0_0').innerHTML = '- '; document.getElementById('error_detail0_0').style.display = 'block'; }else { document.getElementById('error_icon0_0').innerHTML = '+ '; document.getElementById('error_detail0_0').style.display = 'none'; }" > + </span>Error happens when try to read value of column: voucher_date. This might cause by a runtime error in the evaluation of binding expression, i.e. a divide 0 error. (Element ID:2428)
							<pre id="error_detail0_0" style="display:none;" >data.engine.ReadColumnValueFromDocumentError ( 1 time(s) )
detail : org.eclipse.birt.report.engine.api.EngineException: Error happens when try to read value of column: voucher_date. This might cause by a runtime error in the evaluation of binding expression, i.e. a divide 0 error. (Element ID:2428)
	at org.eclipse.birt.report.engine.executor.ExecutionContext.addException(ExecutionContext.java:1206)
	at org.eclipse.birt.report.engine.executor.ExecutionContext.addException(ExecutionContext.java:1185)
	at org.eclipse.birt.report.engine.internal.document.v4.DataItemExecutor.doExecute(DataItemExecutor.java:97)
	at org.eclipse.birt.report.engine.internal.document.v4.ReportItemExecutor.execute(ReportItemExecutor.java:294)
	at org.eclipse.birt.report.engine.internal.document.v4.ContainerExecutor.prepareChildExecutor(ContainerExecutor.java:226)
	at org.eclipse.birt.report.engine.internal.document.v4.ContainerExecutor.hasNextChild(ContainerExecutor.java:110)
	at org.eclipse.birt.report.engine.internal.executor.wrap.WrappedReportItemExecutor.hasNextChild(WrappedReportItemExecutor.java:86)
	at org.eclipse.birt.report.engine.internal.executor.wrap.WrappedReportItemExecutor.hasNextChild(WrappedReportItemExecutor.java:86)
	at org.eclipse.birt.report.engine.layout.html.HTMLBlockStackingLM.layoutNodes(HTMLBlockStackingLM.java:62)
	at org.eclipse.birt.report.engine.layout.html.HTMLStackingLM.layoutChildren(HTMLStackingLM.java:26)
	at org.eclipse.birt.report.engine.layout.html.HTMLAbstractLM.layout(HTMLAbstractLM.java:140)
	at org.eclipse.birt.report.engine.layout.html.HTMLInlineStackingLM.resumeLayout(HTMLInlineStackingLM.java:111)
	at org.eclipse.birt.report.engine.layout.html.HTMLInlineStackingLM.layoutNodes(HTMLInlineStackingLM.java:160)
	at org.eclipse.birt.report.engine.layout.html.HTMLStackingLM.layoutChildren(HTMLStackingLM.java:26)
	at org.eclipse.birt.report.engine.layout.html.HTMLAbstractLM.layout(HTMLAbstractLM.java:140)
	at org.eclipse.birt.report.engine.layout.html.HTMLBlockStackingLM.layoutNodes(HTMLBlockStackingLM.java:70)
	at org.eclipse.birt.report.engine.layout.html.HTMLStackingLM.layoutChildren(HTMLStackingLM.java:26)
	at org.eclipse.birt.report.engine.layout.html.HTMLTableLM.layoutChildren(HTMLTableLM.java:132)
	at org.eclipse.birt.report.engine.layout.html.HTMLAbstractLM.layout(HTMLAbstractLM.java:140)
	at org.eclipse.birt.report.engine.layout.html.HTMLBlockStackingLM.layoutNodes(HTMLBlockStackingLM.java:70)
	at org.eclipse.birt.report.engine.layout.html.HTMLPageLM.layout(HTMLPageLM.java:92)
	at org.eclipse.birt.report.engine.layout.html.HTMLReportLayoutEngine.layout(HTMLReportLayoutEngine.java:100)
	at org.eclipse.birt.report.engine.api.impl.RenderTask$PageRangeRender.render(RenderTask.java:681)
	at org.eclipse.birt.report.engine.api.impl.RenderTask.render(RenderTask.java:294)
	at org.eclipse.birt.report.service.ReportEngineService.renderReport(ReportEngineService.java:1547)
	at org.eclipse.birt.report.service.BirtViewerReportService.renderReport(BirtViewerReportService.java:369)
	at org.eclipse.birt.report.service.actionhandler.BirtRenderReportActionHandler.__execute(BirtRenderReportActionHandler.java:65)
	at org.eclipse.birt.report.service.actionhandler.AbstractBaseActionHandler.execute(AbstractBaseActionHandler.java:90)
	at org.eclipse.birt.report.presentation.aggregation.layout.EngineFragment.doService(EngineFragment.java:312)
	at org.eclipse.birt.report.presentation.aggregation.AbstractBaseFragment.service(AbstractBaseFragment.java:76)
	at org.eclipse.birt.report.servlet.BirtEngineServlet.__doGet(BirtEngineServlet.java:120)
	at org.eclipse.birt.report.servlet.BaseReportEngineServlet.doGet(BaseReportEngineServlet.java:185)
	at javax.servlet.http.HttpServlet.service(HttpServlet.java:634)
	at org.apache.axis.transport.http.AxisServletBase.service(AxisServletBase.java:327)
	at javax.servlet.http.HttpServlet.service(HttpServlet.java:741)
	at org.eclipse.birt.report.servlet.BaseReportEngineServlet.service(BaseReportEngineServlet.java:116)
	at org.apache.catalina.core.ApplicationFilterChain.internalDoFilter(ApplicationFilterChain.java:231)
	at org.apache.catalina.core.ApplicationFilterChain.doFilter(ApplicationFilterChain.java:166)
	at org.eclipse.birt.report.filter.ViewerFilter.doFilter(ViewerFilter.java:68)
	at org.apache.catalina.core.ApplicationFilterChain.internalDoFilter(ApplicationFilterChain.java:193)
	at org.apache.catalina.core.ApplicationFilterChain.doFilter(ApplicationFilterChain.java:166)
	at org.apache.tomcat.websocket.server.WsFilter.doFilter(WsFilter.java:53)
	at org.apache.catalina.core.ApplicationFilterChain.internalDoFilter(ApplicationFilterChain.java:193)
	at org.apache.catalina.core.ApplicationFilterChain.doFilter(ApplicationFilterChain.java:166)
	at org.apache.catalina.core.StandardWrapperValve.invoke(StandardWrapperValve.java:202)
	at org.apache.catalina.core.StandardContextValve.invoke(StandardContextValve.java:96)
	at org.apache.catalina.authenticator.AuthenticatorBase.invoke(AuthenticatorBase.java:490)
	at org.apache.catalina.core.StandardHostValve.invoke(StandardHostValve.java:139)
	at org.apache.catalina.valves.ErrorReportValve.invoke(ErrorReportValve.java:92)
	at org.apache.catalina.valves.AbstractAccessLogValve.invoke(AbstractAccessLogValve.java:678)
	at org.apache.catalina.core.StandardEngineValve.invoke(StandardEngineValve.java:74)
	at org.apache.catalina.connector.CoyoteAdapter.service(CoyoteAdapter.java:343)
	at org.apache.coyote.http11.Http11Processor.service(Http11Processor.java:408)
	at org.apache.coyote.AbstractProcessorLight.process(AbstractProcessorLight.java:66)
	at org.apache.coyote.AbstractProtocol$ConnectionHandler.process(AbstractProtocol.java:853)
	at org.apache.tomcat.util.net.NioEndpoint$SocketProcessor.doRun(NioEndpoint.java:1587)
	at org.apache.tomcat.util.net.SocketProcessorBase.run(SocketProcessorBase.java:49)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at org.apache.tomcat.util.threads.TaskThread$WrappingRunnable.run(TaskThread.java:61)
	at java.lang.Thread.run(Thread.java:748)
Caused by: org.eclipse.birt.data.engine.core.DataException: Error happens when try to read value of column: voucher_date. This might cause by a runtime error in the evaluation of binding expression, i.e. a divide 0 error.
	at org.eclipse.birt.data.engine.impl.document.util.ExprDataReader1.getValueMap(ExprDataReader1.java:303)
	at org.eclipse.birt.data.engine.impl.document.util.ExprDataReader1.getRowValue(ExprDataReader1.java:221)
	at org.eclipse.birt.data.engine.impl.document.util.ExprResultSet.getValue(ExprResultSet.java:187)
	at org.eclipse.birt.data.engine.impl.document.ResultIterator.getValue(ResultIterator.java:167)
	at org.eclipse.birt.report.engine.data.dte.QueryResultSet.getValue(QueryResultSet.java:403)
	at org.eclipse.birt.report.engine.internal.document.v4.DataItemExecutor.doExecute(DataItemExecutor.java:86)
	... 58 more

							</pre>
			</div>
			</div>
			<br>
						<div>
							<div  id="error_title" style="text-decoration:underline">Data (id = 3380):
			</div>
			<div>
			<span id="error_icon1_0"  style="cursor:pointer" onclick="if (document.getElementById('error_detail1_0').style.display == 'none') { document.getElementById('error_icon1_0').innerHTML = '- '; document.getElementById('error_detail1_0').style.display = 'block'; }else { document.getElementById('error_icon1_0').innerHTML = '+ '; document.getElementById('error_detail1_0').style.display = 'none'; }" > + </span>Error happens when try to read value of column: created_time. This might cause by a runtime error in the evaluation of binding expression, i.e. a divide 0 error. (Element ID:3380)
							<pre id="error_detail1_0" style="display:none;" >data.engine.ReadColumnValueFromDocumentError ( 1 time(s) )
detail : org.eclipse.birt.report.engine.api.EngineException: Error happens when try to read value of column: created_time. This might cause by a runtime error in the evaluation of binding expression, i.e. a divide 0 error. (Element ID:3380)
	at org.eclipse.birt.report.engine.executor.ExecutionContext.addException(ExecutionContext.java:1206)
	at org.eclipse.birt.report.engine.executor.ExecutionContext.addException(ExecutionContext.java:1185)
	at org.eclipse.birt.report.engine.internal.document.v4.DataItemExecutor.doExecute(DataItemExecutor.java:97)
	at org.eclipse.birt.report.engine.internal.document.v4.ReportItemExecutor.execute(ReportItemExecutor.java:294)
	at org.eclipse.birt.report.engine.internal.document.v4.ContainerExecutor.prepareChildExecutor(ContainerExecutor.java:226)
	at org.eclipse.birt.report.engine.internal.document.v4.ContainerExecutor.hasNextChild(ContainerExecutor.java:110)
	at org.eclipse.birt.report.engine.internal.executor.wrap.WrappedReportItemExecutor.hasNextChild(WrappedReportItemExecutor.java:86)
	at org.eclipse.birt.report.engine.internal.executor.wrap.WrappedReportItemExecutor.hasNextChild(WrappedReportItemExecutor.java:86)
	at org.eclipse.birt.report.engine.layout.html.HTMLBlockStackingLM.layoutNodes(HTMLBlockStackingLM.java:62)
	at org.eclipse.birt.report.engine.layout.html.HTMLStackingLM.layoutChildren(HTMLStackingLM.java:26)
	at org.eclipse.birt.report.engine.layout.html.HTMLAbstractLM.layout(HTMLAbstractLM.java:140)
	at org.eclipse.birt.report.engine.layout.html.HTMLInlineStackingLM.resumeLayout(HTMLInlineStackingLM.java:111)
	at org.eclipse.birt.report.engine.layout.html.HTMLInlineStackingLM.layoutNodes(HTMLInlineStackingLM.java:160)
	at org.eclipse.birt.report.engine.layout.html.HTMLStackingLM.layoutChildren(HTMLStackingLM.java:26)
	at org.eclipse.birt.report.engine.layout.html.HTMLAbstractLM.layout(HTMLAbstractLM.java:140)
	at org.eclipse.birt.report.engine.layout.html.HTMLBlockStackingLM.layoutNodes(HTMLBlockStackingLM.java:70)
	at org.eclipse.birt.report.engine.layout.html.HTMLStackingLM.layoutChildren(HTMLStackingLM.java:26)
	at org.eclipse.birt.report.engine.layout.html.HTMLTableLM.layoutChildren(HTMLTableLM.java:132)
	at org.eclipse.birt.report.engine.layout.html.HTMLAbstractLM.layout(HTMLAbstractLM.java:140)
	at org.eclipse.birt.report.engine.layout.html.HTMLBlockStackingLM.layoutNodes(HTMLBlockStackingLM.java:70)
	at org.eclipse.birt.report.engine.layout.html.HTMLPageLM.layout(HTMLPageLM.java:92)
	at org.eclipse.birt.report.engine.layout.html.HTMLReportLayoutEngine.layout(HTMLReportLayoutEngine.java:100)
	at org.eclipse.birt.report.engine.api.impl.RenderTask$PageRangeRender.render(RenderTask.java:681)
	at org.eclipse.birt.report.engine.api.impl.RenderTask.render(RenderTask.java:294)
	at org.eclipse.birt.report.service.ReportEngineService.renderReport(ReportEngineService.java:1547)
	at org.eclipse.birt.report.service.BirtViewerReportService.renderReport(BirtViewerReportService.java:369)
	at org.eclipse.birt.report.service.actionhandler.BirtRenderReportActionHandler.__execute(BirtRenderReportActionHandler.java:65)
	at org.eclipse.birt.report.service.actionhandler.AbstractBaseActionHandler.execute(AbstractBaseActionHandler.java:90)
	at org.eclipse.birt.report.presentation.aggregation.layout.EngineFragment.doService(EngineFragment.java:312)
	at org.eclipse.birt.report.presentation.aggregation.AbstractBaseFragment.service(AbstractBaseFragment.java:76)
	at org.eclipse.birt.report.servlet.BirtEngineServlet.__doGet(BirtEngineServlet.java:120)
	at org.eclipse.birt.report.servlet.BaseReportEngineServlet.doGet(BaseReportEngineServlet.java:185)
	at javax.servlet.http.HttpServlet.service(HttpServlet.java:634)
	at org.apache.axis.transport.http.AxisServletBase.service(AxisServletBase.java:327)
	at javax.servlet.http.HttpServlet.service(HttpServlet.java:741)
	at org.eclipse.birt.report.servlet.BaseReportEngineServlet.service(BaseReportEngineServlet.java:116)
	at org.apache.catalina.core.ApplicationFilterChain.internalDoFilter(ApplicationFilterChain.java:231)
	at org.apache.catalina.core.ApplicationFilterChain.doFilter(ApplicationFilterChain.java:166)
	at org.eclipse.birt.report.filter.ViewerFilter.doFilter(ViewerFilter.java:68)
	at org.apache.catalina.core.ApplicationFilterChain.internalDoFilter(ApplicationFilterChain.java:193)
	at org.apache.catalina.core.ApplicationFilterChain.doFilter(ApplicationFilterChain.java:166)
	at org.apache.tomcat.websocket.server.WsFilter.doFilter(WsFilter.java:53)
	at org.apache.catalina.core.ApplicationFilterChain.internalDoFilter(ApplicationFilterChain.java:193)
	at org.apache.catalina.core.ApplicationFilterChain.doFilter(ApplicationFilterChain.java:166)
	at org.apache.catalina.core.StandardWrapperValve.invoke(StandardWrapperValve.java:202)
	at org.apache.catalina.core.StandardContextValve.invoke(StandardContextValve.java:96)
	at org.apache.catalina.authenticator.AuthenticatorBase.invoke(AuthenticatorBase.java:490)
	at org.apache.catalina.core.StandardHostValve.invoke(StandardHostValve.java:139)
	at org.apache.catalina.valves.ErrorReportValve.invoke(ErrorReportValve.java:92)
	at org.apache.catalina.valves.AbstractAccessLogValve.invoke(AbstractAccessLogValve.java:678)
	at org.apache.catalina.core.StandardEngineValve.invoke(StandardEngineValve.java:74)
	at org.apache.catalina.connector.CoyoteAdapter.service(CoyoteAdapter.java:343)
	at org.apache.coyote.http11.Http11Processor.service(Http11Processor.java:408)
	at org.apache.coyote.AbstractProcessorLight.process(AbstractProcessorLight.java:66)
	at org.apache.coyote.AbstractProtocol$ConnectionHandler.process(AbstractProtocol.java:853)
	at org.apache.tomcat.util.net.NioEndpoint$SocketProcessor.doRun(NioEndpoint.java:1587)
	at org.apache.tomcat.util.net.SocketProcessorBase.run(SocketProcessorBase.java:49)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at org.apache.tomcat.util.threads.TaskThread$WrappingRunnable.run(TaskThread.java:61)
	at java.lang.Thread.run(Thread.java:748)
Caused by: org.eclipse.birt.data.engine.core.DataException: Error happens when try to read value of column: created_time. This might cause by a runtime error in the evaluation of binding expression, i.e. a divide 0 error.
	at org.eclipse.birt.data.engine.impl.document.util.ExprDataReader1.getValueMap(ExprDataReader1.java:303)
	at org.eclipse.birt.data.engine.impl.document.util.ExprDataReader1.getRowValue(ExprDataReader1.java:221)
	at org.eclipse.birt.data.engine.impl.document.util.ExprResultSet.getValue(ExprResultSet.java:187)
	at org.eclipse.birt.data.engine.impl.document.ResultIterator.getValue(ResultIterator.java:167)
	at org.eclipse.birt.report.engine.data.dte.QueryResultSet.getValue(QueryResultSet.java:403)
	at org.eclipse.birt.report.engine.internal.document.v4.DataItemExecutor.doExecute(DataItemExecutor.java:86)
	... 58 more

							</pre>
			</div>
			</div>
			<br>
						<div>
							<div  id="error_title" style="text-decoration:underline">Data (id = 3371):
			</div>
			<div>
			<span id="error_icon2_0"  style="cursor:pointer" onclick="if (document.getElementById('error_detail2_0').style.display == 'none') { document.getElementById('error_icon2_0').innerHTML = '- '; document.getElementById('error_detail2_0').style.display = 'block'; }else { document.getElementById('error_icon2_0').innerHTML = '+ '; document.getElementById('error_detail2_0').style.display = 'none'; }" > + </span>Error happens when try to read value of column: Column Binding_6. This might cause by a runtime error in the evaluation of binding expression, i.e. a divide 0 error. (Element ID:3371)
							<pre id="error_detail2_0" style="display:none;" >data.engine.ReadColumnValueFromDocumentError ( 1 time(s) )
detail : org.eclipse.birt.report.engine.api.EngineException: Error happens when try to read value of column: Column Binding_6. This might cause by a runtime error in the evaluation of binding expression, i.e. a divide 0 error. (Element ID:3371)
	at org.eclipse.birt.report.engine.executor.ExecutionContext.addException(ExecutionContext.java:1206)
	at org.eclipse.birt.report.engine.executor.ExecutionContext.addException(ExecutionContext.java:1185)
	at org.eclipse.birt.report.engine.internal.document.v4.DataItemExecutor.doExecute(DataItemExecutor.java:97)
	at org.eclipse.birt.report.engine.internal.document.v4.ReportItemExecutor.execute(ReportItemExecutor.java:294)
	at org.eclipse.birt.report.engine.internal.document.v4.ContainerExecutor.prepareChildExecutor(ContainerExecutor.java:226)
	at org.eclipse.birt.report.engine.internal.document.v4.ContainerExecutor.hasNextChild(ContainerExecutor.java:110)
	at org.eclipse.birt.report.engine.internal.executor.wrap.WrappedReportItemExecutor.hasNextChild(WrappedReportItemExecutor.java:86)
	at org.eclipse.birt.report.engine.internal.executor.wrap.WrappedReportItemExecutor.hasNextChild(WrappedReportItemExecutor.java:86)
	at org.eclipse.birt.report.engine.layout.html.HTMLBlockStackingLM.layoutNodes(HTMLBlockStackingLM.java:62)
	at org.eclipse.birt.report.engine.layout.html.HTMLStackingLM.layoutChildren(HTMLStackingLM.java:26)
	at org.eclipse.birt.report.engine.layout.html.HTMLAbstractLM.layout(HTMLAbstractLM.java:140)
	at org.eclipse.birt.report.engine.layout.html.HTMLInlineStackingLM.resumeLayout(HTMLInlineStackingLM.java:111)
	at org.eclipse.birt.report.engine.layout.html.HTMLInlineStackingLM.layoutNodes(HTMLInlineStackingLM.java:160)
	at org.eclipse.birt.report.engine.layout.html.HTMLStackingLM.layoutChildren(HTMLStackingLM.java:26)
	at org.eclipse.birt.report.engine.layout.html.HTMLAbstractLM.layout(HTMLAbstractLM.java:140)
	at org.eclipse.birt.report.engine.layout.html.HTMLBlockStackingLM.layoutNodes(HTMLBlockStackingLM.java:70)
	at org.eclipse.birt.report.engine.layout.html.HTMLStackingLM.layoutChildren(HTMLStackingLM.java:26)
	at org.eclipse.birt.report.engine.layout.html.HTMLTableBandLM.layoutChildren(HTMLTableBandLM.java:67)
	at org.eclipse.birt.report.engine.layout.html.HTMLAbstractLM.layout(HTMLAbstractLM.java:140)
	at org.eclipse.birt.report.engine.layout.html.HTMLBlockStackingLM.layoutNodes(HTMLBlockStackingLM.java:70)
	at org.eclipse.birt.report.engine.layout.html.HTMLStackingLM.layoutChildren(HTMLStackingLM.java:26)
	at org.eclipse.birt.report.engine.layout.html.HTMLTableLM.layoutChildren(HTMLTableLM.java:132)
	at org.eclipse.birt.report.engine.layout.html.HTMLAbstractLM.layout(HTMLAbstractLM.java:140)
	at org.eclipse.birt.report.engine.layout.html.HTMLBlockStackingLM.layoutNodes(HTMLBlockStackingLM.java:70)
	at org.eclipse.birt.report.engine.layout.html.HTMLPageLM.layout(HTMLPageLM.java:92)
	at org.eclipse.birt.report.engine.layout.html.HTMLReportLayoutEngine.layout(HTMLReportLayoutEngine.java:100)
	at org.eclipse.birt.report.engine.api.impl.RenderTask$PageRangeRender.render(RenderTask.java:681)
	at org.eclipse.birt.report.engine.api.impl.RenderTask.render(RenderTask.java:294)
	at org.eclipse.birt.report.service.ReportEngineService.renderReport(ReportEngineService.java:1547)
	at org.eclipse.birt.report.service.BirtViewerReportService.renderReport(BirtViewerReportService.java:369)
	at org.eclipse.birt.report.service.actionhandler.BirtRenderReportActionHandler.__execute(BirtRenderReportActionHandler.java:65)
	at org.eclipse.birt.report.service.actionhandler.AbstractBaseActionHandler.execute(AbstractBaseActionHandler.java:90)
	at org.eclipse.birt.report.presentation.aggregation.layout.EngineFragment.doService(EngineFragment.java:312)
	at org.eclipse.birt.report.presentation.aggregation.AbstractBaseFragment.service(AbstractBaseFragment.java:76)
	at org.eclipse.birt.report.servlet.BirtEngineServlet.__doGet(BirtEngineServlet.java:120)
	at org.eclipse.birt.report.servlet.BaseReportEngineServlet.doGet(BaseReportEngineServlet.java:185)
	at javax.servlet.http.HttpServlet.service(HttpServlet.java:634)
	at org.apache.axis.transport.http.AxisServletBase.service(AxisServletBase.java:327)
	at javax.servlet.http.HttpServlet.service(HttpServlet.java:741)
	at org.eclipse.birt.report.servlet.BaseReportEngineServlet.service(BaseReportEngineServlet.java:116)
	at org.apache.catalina.core.ApplicationFilterChain.internalDoFilter(ApplicationFilterChain.java:231)
	at org.apache.catalina.core.ApplicationFilterChain.doFilter(ApplicationFilterChain.java:166)
	at org.eclipse.birt.report.filter.ViewerFilter.doFilter(ViewerFilter.java:68)
	at org.apache.catalina.core.ApplicationFilterChain.internalDoFilter(ApplicationFilterChain.java:193)
	at org.apache.catalina.core.ApplicationFilterChain.doFilter(ApplicationFilterChain.java:166)
	at org.apache.tomcat.websocket.server.WsFilter.doFilter(WsFilter.java:53)
	at org.apache.catalina.core.ApplicationFilterChain.internalDoFilter(ApplicationFilterChain.java:193)
	at org.apache.catalina.core.ApplicationFilterChain.doFilter(ApplicationFilterChain.java:166)
	at org.apache.catalina.core.StandardWrapperValve.invoke(StandardWrapperValve.java:202)
	at org.apache.catalina.core.StandardContextValve.invoke(StandardContextValve.java:96)
	at org.apache.catalina.authenticator.AuthenticatorBase.invoke(AuthenticatorBase.java:490)
	at org.apache.catalina.core.StandardHostValve.invoke(StandardHostValve.java:139)
	at org.apache.catalina.valves.ErrorReportValve.invoke(ErrorReportValve.java:92)
	at org.apache.catalina.valves.AbstractAccessLogValve.invoke(AbstractAccessLogValve.java:678)
	at org.apache.catalina.core.StandardEngineValve.invoke(StandardEngineValve.java:74)
	at org.apache.catalina.connector.CoyoteAdapter.service(CoyoteAdapter.java:343)
	at org.apache.coyote.http11.Http11Processor.service(Http11Processor.java:408)
	at org.apache.coyote.AbstractProcessorLight.process(AbstractProcessorLight.java:66)
	at org.apache.coyote.AbstractProtocol$ConnectionHandler.process(AbstractProtocol.java:853)
	at org.apache.tomcat.util.net.NioEndpoint$SocketProcessor.doRun(NioEndpoint.java:1587)
	at org.apache.tomcat.util.net.SocketProcessorBase.run(SocketProcessorBase.java:49)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at org.apache.tomcat.util.threads.TaskThread$WrappingRunnable.run(TaskThread.java:61)
	at java.lang.Thread.run(Thread.java:748)
Caused by: org.eclipse.birt.data.engine.core.DataException: Error happens when try to read value of column: Column Binding_6. This might cause by a runtime error in the evaluation of binding expression, i.e. a divide 0 error.
	at org.eclipse.birt.data.engine.impl.document.util.ExprDataReader1.getValueMap(ExprDataReader1.java:303)
	at org.eclipse.birt.data.engine.impl.document.util.ExprDataReader1.getRowValue(ExprDataReader1.java:221)
	at org.eclipse.birt.data.engine.impl.document.util.ExprResultSet.getValue(ExprResultSet.java:187)
	at org.eclipse.birt.data.engine.impl.document.ResultIterator.getValue(ResultIterator.java:167)
	at org.eclipse.birt.report.engine.data.dte.QueryResultSet.getValue(QueryResultSet.java:403)
	at org.eclipse.birt.report.engine.internal.document.v4.DataItemExecutor.doExecute(DataItemExecutor.java:86)
	... 62 more

							</pre>
			</div>
			</div>
			<br>
						<div>
							<div  id="error_title" style="text-decoration:underline">Data (id = 3375):
			</div>
			<div>
			<span id="error_icon3_0"  style="cursor:pointer" onclick="if (document.getElementById('error_detail3_0').style.display == 'none') { document.getElementById('error_icon3_0').innerHTML = '- '; document.getElementById('error_detail3_0').style.display = 'block'; }else { document.getElementById('error_icon3_0').innerHTML = '+ '; document.getElementById('error_detail3_0').style.display = 'none'; }" > + </span>Error happens when try to read value of column: Column Binding_9. This might cause by a runtime error in the evaluation of binding expression, i.e. a divide 0 error. (Element ID:3375)
							<pre id="error_detail3_0" style="display:none;" >data.engine.ReadColumnValueFromDocumentError ( 1 time(s) )
detail : org.eclipse.birt.report.engine.api.EngineException: Error happens when try to read value of column: Column Binding_9. This might cause by a runtime error in the evaluation of binding expression, i.e. a divide 0 error. (Element ID:3375)
	at org.eclipse.birt.report.engine.executor.ExecutionContext.addException(ExecutionContext.java:1206)
	at org.eclipse.birt.report.engine.executor.ExecutionContext.addException(ExecutionContext.java:1185)
	at org.eclipse.birt.report.engine.internal.document.v4.DataItemExecutor.doExecute(DataItemExecutor.java:97)
	at org.eclipse.birt.report.engine.internal.document.v4.ReportItemExecutor.execute(ReportItemExecutor.java:294)
	at org.eclipse.birt.report.engine.internal.document.v4.ContainerExecutor.prepareChildExecutor(ContainerExecutor.java:226)
	at org.eclipse.birt.report.engine.internal.document.v4.ContainerExecutor.hasNextChild(ContainerExecutor.java:110)
	at org.eclipse.birt.report.engine.internal.executor.wrap.WrappedReportItemExecutor.hasNextChild(WrappedReportItemExecutor.java:86)
	at org.eclipse.birt.report.engine.internal.executor.wrap.WrappedReportItemExecutor.hasNextChild(WrappedReportItemExecutor.java:86)
	at org.eclipse.birt.report.engine.layout.html.HTMLBlockStackingLM.layoutNodes(HTMLBlockStackingLM.java:62)
	at org.eclipse.birt.report.engine.layout.html.HTMLStackingLM.layoutChildren(HTMLStackingLM.java:26)
	at org.eclipse.birt.report.engine.layout.html.HTMLAbstractLM.layout(HTMLAbstractLM.java:140)
	at org.eclipse.birt.report.engine.layout.html.HTMLInlineStackingLM.resumeLayout(HTMLInlineStackingLM.java:111)
	at org.eclipse.birt.report.engine.layout.html.HTMLInlineStackingLM.layoutNodes(HTMLInlineStackingLM.java:160)
	at org.eclipse.birt.report.engine.layout.html.HTMLStackingLM.layoutChildren(HTMLStackingLM.java:26)
	at org.eclipse.birt.report.engine.layout.html.HTMLAbstractLM.layout(HTMLAbstractLM.java:140)
	at org.eclipse.birt.report.engine.layout.html.HTMLBlockStackingLM.layoutNodes(HTMLBlockStackingLM.java:70)
	at org.eclipse.birt.report.engine.layout.html.HTMLStackingLM.layoutChildren(HTMLStackingLM.java:26)
	at org.eclipse.birt.report.engine.layout.html.HTMLTableBandLM.layoutChildren(HTMLTableBandLM.java:67)
	at org.eclipse.birt.report.engine.layout.html.HTMLAbstractLM.layout(HTMLAbstractLM.java:140)
	at org.eclipse.birt.report.engine.layout.html.HTMLBlockStackingLM.layoutNodes(HTMLBlockStackingLM.java:70)
	at org.eclipse.birt.report.engine.layout.html.HTMLStackingLM.layoutChildren(HTMLStackingLM.java:26)
	at org.eclipse.birt.report.engine.layout.html.HTMLTableLM.layoutChildren(HTMLTableLM.java:132)
	at org.eclipse.birt.report.engine.layout.html.HTMLAbstractLM.layout(HTMLAbstractLM.java:140)
	at org.eclipse.birt.report.engine.layout.html.HTMLBlockStackingLM.layoutNodes(HTMLBlockStackingLM.java:70)
	at org.eclipse.birt.report.engine.layout.html.HTMLPageLM.layout(HTMLPageLM.java:92)
	at org.eclipse.birt.report.engine.layout.html.HTMLReportLayoutEngine.layout(HTMLReportLayoutEngine.java:100)
	at org.eclipse.birt.report.engine.api.impl.RenderTask$PageRangeRender.render(RenderTask.java:681)
	at org.eclipse.birt.report.engine.api.impl.RenderTask.render(RenderTask.java:294)
	at org.eclipse.birt.report.service.ReportEngineService.renderReport(ReportEngineService.java:1547)
	at org.eclipse.birt.report.service.BirtViewerReportService.renderReport(BirtViewerReportService.java:369)
	at org.eclipse.birt.report.service.actionhandler.BirtRenderReportActionHandler.__execute(BirtRenderReportActionHandler.java:65)
	at org.eclipse.birt.report.service.actionhandler.AbstractBaseActionHandler.execute(AbstractBaseActionHandler.java:90)
	at org.eclipse.birt.report.presentation.aggregation.layout.EngineFragment.doService(EngineFragment.java:312)
	at org.eclipse.birt.report.presentation.aggregation.AbstractBaseFragment.service(AbstractBaseFragment.java:76)
	at org.eclipse.birt.report.servlet.BirtEngineServlet.__doGet(BirtEngineServlet.java:120)
	at org.eclipse.birt.report.servlet.BaseReportEngineServlet.doGet(BaseReportEngineServlet.java:185)
	at javax.servlet.http.HttpServlet.service(HttpServlet.java:634)
	at org.apache.axis.transport.http.AxisServletBase.service(AxisServletBase.java:327)
	at javax.servlet.http.HttpServlet.service(HttpServlet.java:741)
	at org.eclipse.birt.report.servlet.BaseReportEngineServlet.service(BaseReportEngineServlet.java:116)
	at org.apache.catalina.core.ApplicationFilterChain.internalDoFilter(ApplicationFilterChain.java:231)
	at org.apache.catalina.core.ApplicationFilterChain.doFilter(ApplicationFilterChain.java:166)
	at org.eclipse.birt.report.filter.ViewerFilter.doFilter(ViewerFilter.java:68)
	at org.apache.catalina.core.ApplicationFilterChain.internalDoFilter(ApplicationFilterChain.java:193)
	at org.apache.catalina.core.ApplicationFilterChain.doFilter(ApplicationFilterChain.java:166)
	at org.apache.tomcat.websocket.server.WsFilter.doFilter(WsFilter.java:53)
	at org.apache.catalina.core.ApplicationFilterChain.internalDoFilter(ApplicationFilterChain.java:193)
	at org.apache.catalina.core.ApplicationFilterChain.doFilter(ApplicationFilterChain.java:166)
	at org.apache.catalina.core.StandardWrapperValve.invoke(StandardWrapperValve.java:202)
	at org.apache.catalina.core.StandardContextValve.invoke(StandardContextValve.java:96)
	at org.apache.catalina.authenticator.AuthenticatorBase.invoke(AuthenticatorBase.java:490)
	at org.apache.catalina.core.StandardHostValve.invoke(StandardHostValve.java:139)
	at org.apache.catalina.valves.ErrorReportValve.invoke(ErrorReportValve.java:92)
	at org.apache.catalina.valves.AbstractAccessLogValve.invoke(AbstractAccessLogValve.java:678)
	at org.apache.catalina.core.StandardEngineValve.invoke(StandardEngineValve.java:74)
	at org.apache.catalina.connector.CoyoteAdapter.service(CoyoteAdapter.java:343)
	at org.apache.coyote.http11.Http11Processor.service(Http11Processor.java:408)
	at org.apache.coyote.AbstractProcessorLight.process(AbstractProcessorLight.java:66)
	at org.apache.coyote.AbstractProtocol$ConnectionHandler.process(AbstractProtocol.java:853)
	at org.apache.tomcat.util.net.NioEndpoint$SocketProcessor.doRun(NioEndpoint.java:1587)
	at org.apache.tomcat.util.net.SocketProcessorBase.run(SocketProcessorBase.java:49)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at org.apache.tomcat.util.threads.TaskThread$WrappingRunnable.run(TaskThread.java:61)
	at java.lang.Thread.run(Thread.java:748)
Caused by: org.eclipse.birt.data.engine.core.DataException: Error happens when try to read value of column: Column Binding_9. This might cause by a runtime error in the evaluation of binding expression, i.e. a divide 0 error.
	at org.eclipse.birt.data.engine.impl.document.util.ExprDataReader1.getValueMap(ExprDataReader1.java:303)
	at org.eclipse.birt.data.engine.impl.document.util.ExprDataReader1.getRowValue(ExprDataReader1.java:221)
	at org.eclipse.birt.data.engine.impl.document.util.ExprResultSet.getValue(ExprResultSet.java:187)
	at org.eclipse.birt.data.engine.impl.document.ResultIterator.getValue(ResultIterator.java:167)
	at org.eclipse.birt.report.engine.data.dte.QueryResultSet.getValue(QueryResultSet.java:403)
	at org.eclipse.birt.report.engine.internal.document.v4.DataItemExecutor.doExecute(DataItemExecutor.java:86)
	... 62 more

							</pre>
			</div>
			</div>
			<br>
						<div>
							<div  id="error_title" style="text-decoration:underline">Data (id = 3377):
			</div>
			<div>
			<span id="error_icon4_0"  style="cursor:pointer" onclick="if (document.getElementById('error_detail4_0').style.display == 'none') { document.getElementById('error_icon4_0').innerHTML = '- '; document.getElementById('error_detail4_0').style.display = 'block'; }else { document.getElementById('error_icon4_0').innerHTML = '+ '; document.getElementById('error_detail4_0').style.display = 'none'; }" > + </span>Error happens when try to read value of column: Column Binding_10. This might cause by a runtime error in the evaluation of binding expression, i.e. a divide 0 error. (Element ID:3377)
							<pre id="error_detail4_0" style="display:none;" >data.engine.ReadColumnValueFromDocumentError ( 1 time(s) )
detail : org.eclipse.birt.report.engine.api.EngineException: Error happens when try to read value of column: Column Binding_10. This might cause by a runtime error in the evaluation of binding expression, i.e. a divide 0 error. (Element ID:3377)
	at org.eclipse.birt.report.engine.executor.ExecutionContext.addException(ExecutionContext.java:1206)
	at org.eclipse.birt.report.engine.executor.ExecutionContext.addException(ExecutionContext.java:1185)
	at org.eclipse.birt.report.engine.internal.document.v4.DataItemExecutor.doExecute(DataItemExecutor.java:97)
	at org.eclipse.birt.report.engine.internal.document.v4.ReportItemExecutor.execute(ReportItemExecutor.java:294)
	at org.eclipse.birt.report.engine.internal.document.v4.ContainerExecutor.prepareChildExecutor(ContainerExecutor.java:226)
	at org.eclipse.birt.report.engine.internal.document.v4.ContainerExecutor.hasNextChild(ContainerExecutor.java:110)
	at org.eclipse.birt.report.engine.internal.executor.wrap.WrappedReportItemExecutor.hasNextChild(WrappedReportItemExecutor.java:86)
	at org.eclipse.birt.report.engine.internal.executor.wrap.WrappedReportItemExecutor.hasNextChild(WrappedReportItemExecutor.java:86)
	at org.eclipse.birt.report.engine.layout.html.HTMLBlockStackingLM.layoutNodes(HTMLBlockStackingLM.java:62)
	at org.eclipse.birt.report.engine.layout.html.HTMLStackingLM.layoutChildren(HTMLStackingLM.java:26)
	at org.eclipse.birt.report.engine.layout.html.HTMLAbstractLM.layout(HTMLAbstractLM.java:140)
	at org.eclipse.birt.report.engine.layout.html.HTMLInlineStackingLM.resumeLayout(HTMLInlineStackingLM.java:111)
	at org.eclipse.birt.report.engine.layout.html.HTMLInlineStackingLM.layoutNodes(HTMLInlineStackingLM.java:160)
	at org.eclipse.birt.report.engine.layout.html.HTMLStackingLM.layoutChildren(HTMLStackingLM.java:26)
	at org.eclipse.birt.report.engine.layout.html.HTMLAbstractLM.layout(HTMLAbstractLM.java:140)
	at org.eclipse.birt.report.engine.layout.html.HTMLBlockStackingLM.layoutNodes(HTMLBlockStackingLM.java:70)
	at org.eclipse.birt.report.engine.layout.html.HTMLStackingLM.layoutChildren(HTMLStackingLM.java:26)
	at org.eclipse.birt.report.engine.layout.html.HTMLTableBandLM.layoutChildren(HTMLTableBandLM.java:67)
	at org.eclipse.birt.report.engine.layout.html.HTMLAbstractLM.layout(HTMLAbstractLM.java:140)
	at org.eclipse.birt.report.engine.layout.html.HTMLBlockStackingLM.layoutNodes(HTMLBlockStackingLM.java:70)
	at org.eclipse.birt.report.engine.layout.html.HTMLStackingLM.layoutChildren(HTMLStackingLM.java:26)
	at org.eclipse.birt.report.engine.layout.html.HTMLTableLM.layoutChildren(HTMLTableLM.java:132)
	at org.eclipse.birt.report.engine.layout.html.HTMLAbstractLM.layout(HTMLAbstractLM.java:140)
	at org.eclipse.birt.report.engine.layout.html.HTMLBlockStackingLM.layoutNodes(HTMLBlockStackingLM.java:70)
	at org.eclipse.birt.report.engine.layout.html.HTMLPageLM.layout(HTMLPageLM.java:92)
	at org.eclipse.birt.report.engine.layout.html.HTMLReportLayoutEngine.layout(HTMLReportLayoutEngine.java:100)
	at org.eclipse.birt.report.engine.api.impl.RenderTask$PageRangeRender.render(RenderTask.java:681)
	at org.eclipse.birt.report.engine.api.impl.RenderTask.render(RenderTask.java:294)
	at org.eclipse.birt.report.service.ReportEngineService.renderReport(ReportEngineService.java:1547)
	at org.eclipse.birt.report.service.BirtViewerReportService.renderReport(BirtViewerReportService.java:369)
	at org.eclipse.birt.report.service.actionhandler.BirtRenderReportActionHandler.__execute(BirtRenderReportActionHandler.java:65)
	at org.eclipse.birt.report.service.actionhandler.AbstractBaseActionHandler.execute(AbstractBaseActionHandler.java:90)
	at org.eclipse.birt.report.presentation.aggregation.layout.EngineFragment.doService(EngineFragment.java:312)
	at org.eclipse.birt.report.presentation.aggregation.AbstractBaseFragment.service(AbstractBaseFragment.java:76)
	at org.eclipse.birt.report.servlet.BirtEngineServlet.__doGet(BirtEngineServlet.java:120)
	at org.eclipse.birt.report.servlet.BaseReportEngineServlet.doGet(BaseReportEngineServlet.java:185)
	at javax.servlet.http.HttpServlet.service(HttpServlet.java:634)
	at org.apache.axis.transport.http.AxisServletBase.service(AxisServletBase.java:327)
	at javax.servlet.http.HttpServlet.service(HttpServlet.java:741)
	at org.eclipse.birt.report.servlet.BaseReportEngineServlet.service(BaseReportEngineServlet.java:116)
	at org.apache.catalina.core.ApplicationFilterChain.internalDoFilter(ApplicationFilterChain.java:231)
	at org.apache.catalina.core.ApplicationFilterChain.doFilter(ApplicationFilterChain.java:166)
	at org.eclipse.birt.report.filter.ViewerFilter.doFilter(ViewerFilter.java:68)
	at org.apache.catalina.core.ApplicationFilterChain.internalDoFilter(ApplicationFilterChain.java:193)
	at org.apache.catalina.core.ApplicationFilterChain.doFilter(ApplicationFilterChain.java:166)
	at org.apache.tomcat.websocket.server.WsFilter.doFilter(WsFilter.java:53)
	at org.apache.catalina.core.ApplicationFilterChain.internalDoFilter(ApplicationFilterChain.java:193)
	at org.apache.catalina.core.ApplicationFilterChain.doFilter(ApplicationFilterChain.java:166)
	at org.apache.catalina.core.StandardWrapperValve.invoke(StandardWrapperValve.java:202)
	at org.apache.catalina.core.StandardContextValve.invoke(StandardContextValve.java:96)
	at org.apache.catalina.authenticator.AuthenticatorBase.invoke(AuthenticatorBase.java:490)
	at org.apache.catalina.core.StandardHostValve.invoke(StandardHostValve.java:139)
	at org.apache.catalina.valves.ErrorReportValve.invoke(ErrorReportValve.java:92)
	at org.apache.catalina.valves.AbstractAccessLogValve.invoke(AbstractAccessLogValve.java:678)
	at org.apache.catalina.core.StandardEngineValve.invoke(StandardEngineValve.java:74)
	at org.apache.catalina.connector.CoyoteAdapter.service(CoyoteAdapter.java:343)
	at org.apache.coyote.http11.Http11Processor.service(Http11Processor.java:408)
	at org.apache.coyote.AbstractProcessorLight.process(AbstractProcessorLight.java:66)
	at org.apache.coyote.AbstractProtocol$ConnectionHandler.process(AbstractProtocol.java:853)
	at org.apache.tomcat.util.net.NioEndpoint$SocketProcessor.doRun(NioEndpoint.java:1587)
	at org.apache.tomcat.util.net.SocketProcessorBase.run(SocketProcessorBase.java:49)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at org.apache.tomcat.util.threads.TaskThread$WrappingRunnable.run(TaskThread.java:61)
	at java.lang.Thread.run(Thread.java:748)
Caused by: org.eclipse.birt.data.engine.core.DataException: Error happens when try to read value of column: Column Binding_10. This might cause by a runtime error in the evaluation of binding expression, i.e. a divide 0 error.
	at org.eclipse.birt.data.engine.impl.document.util.ExprDataReader1.getValueMap(ExprDataReader1.java:303)
	at org.eclipse.birt.data.engine.impl.document.util.ExprDataReader1.getRowValue(ExprDataReader1.java:221)
	at org.eclipse.birt.data.engine.impl.document.util.ExprResultSet.getValue(ExprResultSet.java:187)
	at org.eclipse.birt.data.engine.impl.document.ResultIterator.getValue(ResultIterator.java:167)
	at org.eclipse.birt.report.engine.data.dte.QueryResultSet.getValue(QueryResultSet.java:403)
	at org.eclipse.birt.report.engine.internal.document.v4.DataItemExecutor.doExecute(DataItemExecutor.java:86)
	... 62 more

							</pre>
			</div>
			</div>
			<br>
			</div></body>
	</html>