<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mushok 4.3(Input-Output Coeffitient)</title>
    <style type="text/css">
        .style_28 {
            font-weight: bold;
            border-top: thin double black;
        }

        .style_25 {
            font-family: sans-serif;
            font-weight: normal;
            font-size: 6pt;
            border-bottom: thin solid rgb(128, 128, 128);
        }

        .style_24 {
            padding: 1pt 3pt;
            border: thin solid rgb(0, 0, 0);
        }

        .style_27 {
            font-family: sans-serif;
            font-weight: bold;
            font-size: 6pt;
            padding-right: 3pt;
            padding-left: 3pt;
            border-top: thin solid black;
        }

        .style_26 {
            border-right: thin solid black;
            border-left: thin solid black;
        }

        .style_8 {
            font-family: sans-serif;
            font-size: 9pt;
            color: rgb(96, 96, 96);
        }

        .style_9 {
            font-family: sans-serif;
            font-size: 9pt;
            color: rgb(96, 96, 96);
        }

        .style_7 {
            margin-top: 20pt;
        }

        .style_0 {
            font-family: sans-serif;
            font-style: normal;
            font-variant: normal;
            font-weight: normal;
            font-size: 10pt;
            color: black;
            text-indent: 0em;
            letter-spacing: normal;
            word-spacing: normal;
            text-transform: none;
            white-space: normal;
            line-height: normal;
        }

        .style_21 {
            font-weight: bold;
            font-size: 6pt;
        }

        .style_1 {
            font-weight: bold;
        }

        .style_20 {
            font-weight: bold;
            font-size: 6pt;
        }

        .style_23 {
            font-family: Nikosh;
            font-size: 6pt;
            border: thin solid rgb(128, 128, 128);
        }

        .style_22 {
            font-family: sans-serif;
        }

        .style_4 {
            font-size: 7pt;
            margin-bottom: 15pt;
        }

        .style_5 {
            font-weight: bold;
        }

        .style_2 {
            font-weight: bold;
        }

        .style_3 {
            font-family: sans-serif;
            font-size: 9pt;
            color: rgb(96, 96, 96);
        }

        .style_18 {
            border: none black;
        }

        .style_17 {
            font-size: 6pt;
        }

        .style_19 {
            font-family: Nikosh;
            font-size: 6pt;
            border-top: thin solid black;
            border-right: thin solid black;
            border-left: thin solid black;
        }

        .style_14 {
            padding: 1%;
        }

        .style_36 {
            font-size: 6.5pt;
        }

        .style_13 {
            margin-top: 20pt;
        }

        .style_16 {
            font-weight: normal;
        }

        .style_15 {
            font-family: Nikosh;
            font-size: 6pt;
            border: none black;
        }

        .style_37 {
            font-family: Nikosh;
            font-size: 6pt;
        }

        .style_10 {
            margin-top: 20pt;
            padding-right: 3pt;
            padding-left: 3pt;
        }

        .style_32 {
            padding-right: 3pt;
            padding-left: 3pt;
            border-right: thin solid black;
            border-left: thin solid black;
        }

        .style_31 {
            font-family: sans-serif;
            font-size: 5.9pt;
        }

        .style_12 {
            margin-top: 20pt;
            padding-right: 1pt;
            padding-left: 1pt;
        }

        .style_11 {
            margin-top: 20pt;
        }
    </style>
    <script type="text/javascript">
        //<![CDATA[
        function redirect(target, url) {
            if (target == '_blank') {
                open(url);
            } else if (target == '_top') {
                window.top.location.href = url;
            } else if (target == '_parent') {
                location.href = url;
            } else if (target == '_self') {
                location.href = url;
            } else {
                open(url);
            }
        }

        //]]>
    </script>
</head>
<body class="style_0" style=" margin:0px;">
<table style="empty-cells: show; width:100%; border-spacing: 0">
    <tr>
        <td style="vertical-align:top;">
            <table style="border-collapse: collapse; empty-cells: show; width: 100%;">
                <tr style="vertical-align:top;">
                    <td class="style_14">
                        <table class="style_15" style="border-collapse: collapse; empty-cells: show; width: 100%;">
                            <tr style="vertical-align:top;">
                                <td>
                                    <div class="style_16" style=" text-align:center;">গণপ্রজাতন্ত্রী বাংলাদেশ সরকার
                                    </div>
                                    <div class="style_17" style=" text-align:center;">জাতীয় রাজস্ব বোর্ড ,&#xa0; ঢাকা
                                    </div>
                                </td>
                            </tr>
                            <tr class="style_18" style="vertical-align:top;">
                                <td></td>
                            </tr>
                        </table>
                        <table class="style_19" style="border-collapse: collapse; empty-cells: show; width: 100%;">
                            <col style="width: 30%;">
                            <col style="width: 70%;">
                            <tr style="vertical-align:top;">
                                <td colspan="2">
                                    <div class="style_20" style=" text-align:right;">মূসক - ৪.৩</div>
                                    <div class="style_21" style=" text-align:center;">উপকরণ-উৎপাদ সহগ (Input-Output
                                        Coefficient) ঘোষণা&#xa0;
                                    </div>
                                    <div class="style_21" style=" text-align:center;">(বিধি ২১ দ্রষ্টব্য)</div>
                                </td>
                            </tr>
                            <tr style="vertical-align:top;">
                                <td>
                                    <div class="style_21">১।প্রতিষ্ঠানের নামঃ</div>
                                </td>
                                <td>
                                    <div class="style_22" id="__bookmark_1">Expo Group</div>
                                </td>
                            </tr>
                            <tr style="vertical-align:top;">
                                <td>
                                    <div class="style_21">২। ঠিকানাঃ</div>
                                </td>
                                <td>
                                    <div class="style_22" id="__bookmark_2">
                                        <div style="visibility:hidden">&#xa0;</div>
                                    </div>
                                </td>
                            </tr>
                            <tr style="vertical-align:top;">
                                <td>
                                    <div class="style_21">৩। বিনঃ&#xa0;</div>
                                </td>
                                <td>
                                    <div class="style_22" id="__bookmark_3">DVat-111014</div>
                                </td>
                            </tr>
                            <tr style="vertical-align:top;">
                                <td>
                                    <div class="style_21">৪। লাইসেন্সের তারিখঃ&#xa0;&#xa0;</div>
                                </td>
                                <td>
                                    <div class="style_22" id="__bookmark_4">123456</div>
                                </td>
                            </tr>
                            <tr style="vertical-align:top;">
                                <td>
                                    <div class="style_21">৫। ঘোষিত সহগ অনুযায়ী পন্য/সেবার প্রথম সরবরাহের তারিখঃ</div>
                                </td>
                                <td></td>
                            </tr>
                        </table>
                        <table class="style_23" style="border-collapse: collapse; empty-cells: show; width: 100%;"
                               id="__bookmark_5">
                            <col style=" width: 5%;">
                            <col style=" width: 8%;">
                            <col style=" width: 10%;">
                            <col style=" width: 5%;">
                            <col style=" width: 15%;">
                            <col style=" width: 8%;">
                            <col style=" width: 8%;">
                            <col style=" width: 8%;">
                            <col style=" width: 6%;">
                            <col style=" width: 15%;">
                            <col style=" width: 7%;">
                            <col style="width: 5%;">
                            <tr class="style_5" style="vertical-align:top;">
                                <th class="style_24" rowspan="2" style="text-align: left">
                                    <div
                                            style="text-align:center;">ক্রমিক সংখ্যা
                                    </div>
                                </th>
                                <th class="style_24" rowspan="2" align="left">
                                    <div
                                            style=" text-align:center;">পণ্যের এইচ এস কোড / সেবা কোড
                                    </div>
                                </th>
                                <th class="style_24" rowspan="2" align="left">
                                    <div style="text-align:center;">সরবরাহতব্য পণ্য/সেবার নাম ও বর্ণনা( প্রযোজ্য
                                        ক্ষেত্রে ব্রান্ড নাম সহ)
                                    </div>
                                </th>
                                <th class="style_24" rowspan="2" align="left">
                                    <div
                                            style=" text-align:center;">সরবরাহের একক
                                    </div>
                                </th>
                                <th class="style_24" colspan="5" align="left">
                                    <div
                                            style=" text-align:center;">একক পণ্য/সেবা সরবরাহে ব্যবহার্য যাবতীয়
                                        উপকরণের/কাঁচামালের এবং প্যাকিং সামগ্রীর বিবরণ, পরিমাণ ও ক্রয়মূল্য (উপকরনভিত্তিক
                                        অপচয়ের শতকরা হারসহ)&#xa0;
                                    </div>
                                </th>
                                <th class="style_24" colspan="2" align="left">
                                    <div
                                            style=" text-align:center;">মূল্য সংযোজনের বিবরণ
                                    </div>
                                </th>
                                <th class="style_24" rowspan="2" align="left">
                                    <div
                                            style=" text-align:center;">মন্তব্য
                                    </div>
                                </th>
                            </tr>
                            <tr class="style_5" align="center" style="vertical-align:top;">
                                <th class="style_24" align="left">
                                    <div
                                            style=" text-align:center;">বিবরণ
                                    </div>
                                </th>
                                <th class="style_24" align="left">
                                    <div
                                            style=" text-align:center;">অপচয়সহ পরিমাণ
                                    </div>
                                </th>
                                <th class="style_24" align="left">
                                    <div
                                            style=" text-align:center;">মূল্য
                                    </div>
                                </th>
                                <th class="style_24" align="left">
                                    <div
                                            style=" text-align:center;">অপচয়ের পরিমাণ
                                    </div>
                                </th>
                                <th class="style_24" align="left">
                                    <div
                                            style=" text-align:center;">শতকরা হার
                                    </div>
                                </th>
                                <th class="style_24" align="left">
                                    <div
                                            style=" text-align:center;">মূল্য সংযোজনের খাত
                                    </div>
                                </th>
                                <th class="style_24" align="left">
                                    <div
                                            style=" text-align:center;">মূল্য
                                    </div>
                                </th>
                            </tr>
                            <tr class="style_21" align="center" style="vertical-align:top;">
                                <th class="style_24" align="left">
                                    <div
                                            style=" text-align:center;">(১)
                                    </div>
                                </th>
                                <th class="style_24" align="left">
                                    <div
                                            style=" text-align:center;">(২)
                                    </div>
                                </th>
                                <th class="style_24" align="left">
                                    <div id="AUTOGENBOOKMARK_29_c9704140-c627-4f97-afe7-043ec68ff020"
                                         style=" text-align:center;">(৩)
                                    </div>
                                </th>
                                <th class="style_24" align="left">
                                    <div
                                            style=" text-align:center;">(৪)
                                    </div>
                                </th>
                                <th class="style_24" align="left">
                                    <div
                                            style=" text-align:center;">(৫)
                                    </div>
                                </th>
                                <th class="style_24" align="left">
                                    <div
                                            style=" text-align:center;">(৬)
                                    </div>
                                </th>
                                <th class="style_24" align="left">
                                    <div
                                            style=" text-align:center;">(৭)
                                    </div>
                                </th>
                                <th class="style_24" align="left">
                                    <div
                                            style=" text-align:center;">(৮)
                                    </div>
                                </th>
                                <th class="style_24" align="left">
                                    <div
                                            style=" text-align:center;">(৯)
                                    </div>
                                </th>
                                <th class="style_24" align="left">
                                    <div
                                            style=" text-align:center;">(১০)
                                    </div>
                                </th>
                                <th class="style_24" align="left">
                                    <div
                                            style=" text-align:center;">(১১)
                                    </div>
                                </th>
                                <th class="style_24" align="left">
                                    <div
                                            style=" text-align:center;">(১২)
                                    </div>
                                </th>
                            </tr>
                            <tr class="style_25" id="__TOC_0" style="vertical-align:top;">
                                <td class="style_26"></td>
                                <td class="style_26">
                                    <div>
                                        <div style="visibility:hidden">&#xa0;</div>
                                    </div>
                                </td>
                                <td class="style_26">
                                    <div>Pressure Cooker 3.5 ltr</div>
                                </td>
                                <td class="style_26">
                                    <div>Unit</div>
                                </td>
                                <td class="style_26"></td>
                                <td class="style_26"></td>
                                <td class="style_26"></td>
                                <td class="style_26"></td>
                                <td class="style_26"></td>
                                <td class="style_26"></td>
                                <td class="style_26"></td>
                                <td class="style_26"></td>
                            </tr>
                            <tr class="style_31" style="vertical-align:top;">
                                <td class="style_32">
                                    <div>1</div>
                                </td>
                                <td class="style_32"></td>
                                <td class="style_32"></td>
                                <td class="style_32"></td>
                                <td class="style_32">
                                    <div>Sticker</div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;">১.০০</div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;">১৫.০০</div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;">০.১০</div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;">১০.০০</div>
                                    <div style="display: none;">10.00</div>
                                </td>
                                <td class="style_32">
                                    <div>Profit</div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;">৪০০.০০</div>
                                </td>
                                <td class="style_32"></td>
                            </tr>
                            <tr class="style_31" style="vertical-align:top;">
                                <td class="style_32">
                                    <div>2</div>
                                </td>
                                <td class="style_32"></td>
                                <td class="style_32"></td>
                                <td class="style_32"></td>
                                <td class="style_32">
                                    <div>Packing Box</div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;">১.০০</div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;">২০.০০</div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;">০.১০</div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;">১০.০০</div>
                                    <div style="display: none;">10.00</div>
                                </td>
                                <td class="style_32">
                                    <div>Salary &amp; Allowances</div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;">১০০.০০</div>
                                </td>
                                <td class="style_32"></td>
                            </tr>
                            <tr class="style_31" style="vertical-align:top;">
                                <td class="style_32">
                                    <div>3</div>
                                </td>
                                <td class="style_32"></td>
                                <td class="style_32"></td>
                                <td class="style_32"></td>
                                <td class="style_32">
                                    <div>Safety valve with nut</div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;">১.০০</div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;">১০.০০</div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;">০.১০</div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;">১০.০০</div>
                                    <div style="display: none;">10.00</div>
                                </td>
                                <td class="style_32">
                                    <div>Electricity Charges - Head Office</div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;">১৪০.৪৩</div>
                                </td>
                                <td class="style_32"></td>
                            </tr>
                            <tr class="style_31" style="vertical-align:top;">
                                <td class="style_32">
                                    <div>4</div>
                                </td>
                                <td class="style_32"></td>
                                <td class="style_32"></td>
                                <td class="style_32"></td>
                                <td class="style_32">
                                    <div>Cover</div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;">১.০০</div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;">৫০.০০</div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;">০.১০</div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;">১০.০০</div>
                                    <div style="display: none;">10.00</div>
                                </td>
                                <td class="style_32">
                                    <div>Electricity / Power - Factory (20%)</div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;">৩০.০০</div>
                                </td>
                                <td class="style_32"></td>
                            </tr>
                            <tr class="style_31" style="vertical-align:top;">
                                <td class="style_32">
                                    <div>5</div>
                                </td>
                                <td class="style_32"></td>
                                <td class="style_32"></td>
                                <td class="style_32"></td>
                                <td class="style_32">
                                    <div>Circle/Body 3.5</div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;">১.০০</div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;">৪০০.০০</div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;">০.১০</div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;">১০.০০</div>
                                    <div style="display: none;">10.00</div>
                                </td>
                                <td class="style_32">
                                    <div>Natural Gas (20%)</div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;">৪০.০০</div>
                                </td>
                                <td class="style_32"></td>
                            </tr>
                            <tr class="style_31" style="vertical-align:top;">
                                <td class="style_32">
                                    <div>6</div>
                                </td>
                                <td class="style_32"></td>
                                <td class="style_32"></td>
                                <td class="style_32"></td>
                                <td class="style_32">
                                    <div>Body Handle</div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;">১.০০</div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;">১৪.৫৭</div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;">০.১০</div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;">১০.০০</div>
                                    <div style="display: none;">10.00</div>
                                </td>
                                <td class="style_32">
                                    <div>Profit</div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;">২৫০.০০</div>
                                </td>
                                <td class="style_32"></td>
                            </tr>
                            <tr class="style_31" style="vertical-align:top;">
                                <td class="style_32">
                                    <div>7</div>
                                </td>
                                <td class="style_32"></td>
                                <td class="style_32"></td>
                                <td class="style_32"></td>
                                <td class="style_32">
                                    <div>Body Handle</div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;">১.০০</div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;">১৪.৫৭</div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;">০.১০</div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;">১০.০০</div>
                                    <div style="display: none;">10.00</div>
                                </td>
                                <td class="style_32">
                                    <div>Salary &amp; Allowances</div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;">১০০.০০</div>
                                </td>
                                <td class="style_32"></td>
                            </tr>
                            <tr class="style_31" style="vertical-align:top;">
                                <td class="style_32">
                                    <div>8</div>
                                </td>
                                <td class="style_32"></td>
                                <td class="style_32"></td>
                                <td class="style_32"></td>
                                <td class="style_32">
                                    <div>Circle/Body 2.5</div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;">১.০০</div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;">২৫০.০০</div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;">০.১০</div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;">১০.০০</div>
                                    <div style="display: none;">10.00</div>
                                </td>
                                <td class="style_32">
                                    <div>Electricity Charges - Head Office</div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;">১৪০.৪৩</div>
                                </td>
                                <td class="style_32"></td>
                            </tr>
                            <tr class="style_31" style="vertical-align:top;">
                                <td class="style_32">
                                    <div>9</div>
                                </td>
                                <td class="style_32"></td>
                                <td class="style_32"></td>
                                <td class="style_32"></td>
                                <td class="style_32">
                                    <div>Safety valve with nut</div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;">১.০০</div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;">১০.০০</div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;">০.১০</div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;">১০.০০</div>
                                    <div style="display: none;">10.00</div>
                                </td>
                                <td class="style_32">
                                    <div>Electricity / Power - Factory (20%)</div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;">৩০.০০</div>
                                </td>
                                <td class="style_32"></td>
                            </tr>
                            <tr class="style_31" style="vertical-align:top;">
                                <td class="style_32">
                                    <div>10</div>
                                </td>
                                <td class="style_32"></td>
                                <td class="style_32"></td>
                                <td class="style_32"></td>
                                <td class="style_32">
                                    <div>Cover</div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;">১.০০</div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;">৫০.০০</div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;">০.১০</div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;">১০.০০</div>
                                    <div style="display: none;">10.00</div>
                                </td>
                                <td class="style_32">
                                    <div>Natural Gas (20%)</div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;">৪০.০০</div>
                                </td>
                                <td class="style_32"></td>
                            </tr>
                            <tr class="style_31" style="vertical-align:top;">
                                <td class="style_32">
                                    <div>11</div>
                                </td>
                                <td class="style_32"></td>
                                <td class="style_32"></td>
                                <td class="style_32"></td>
                                <td class="style_32">
                                    <div>Packing Box</div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;">১.০০</div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;">২০.০০</div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;">০.১০</div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;">১০.০০</div>
                                    <div style="display: none;">10.00</div>
                                </td>
                                <td class="style_32">
                                    <div>
                                        <div style="visibility:hidden">&#xa0;</div>
                                    </div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;"></div>
                                </td>
                                <td class="style_32"></td>
                            </tr>
                            <tr class="style_31" style="vertical-align:top;">
                                <td class="style_32">
                                    <div>12</div>
                                </td>
                                <td class="style_32"></td>
                                <td class="style_32"></td>
                                <td class="style_32"></td>
                                <td class="style_32">
                                    <div>Sticker</div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;">১.০০</div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;">১৫.০০</div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;">০.১০</div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;">১০.০০</div>
                                    <div style="display: none;">10.00</div>
                                </td>
                                <td class="style_32">
                                    <div>
                                        <div style="visibility:hidden">&#xa0;</div>
                                    </div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;"></div>
                                </td>
                                <td class="style_32"></td>
                            </tr>
                            <tr class="style_31" style="vertical-align:top;">
                                <td class="style_32">
                                    <div>13</div>
                                </td>
                                <td class="style_32"></td>
                                <td class="style_32"></td>
                                <td class="style_32"></td>
                                <td class="style_32">
                                    <div>Electricity / Power - Factory (80%)</div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;"></div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;">১২০.০০</div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;"></div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;"></div>
                                    <div style="display: none;">
                                        <div style="visibility:hidden">&#xa0;</div>
                                    </div>
                                </td>
                                <td class="style_32">
                                    <div>
                                        <div style="visibility:hidden">&#xa0;</div>
                                    </div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;"></div>
                                </td>
                                <td class="style_32"></td>
                            </tr>
                            <tr class="style_31" style="vertical-align:top;">
                                <td class="style_32">
                                    <div>14</div>
                                </td>
                                <td class="style_32"></td>
                                <td class="style_32"></td>
                                <td class="style_32"></td>
                                <td class="style_32">
                                    <div>Natural Gas (80%)</div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;"></div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;">১৬০.০০</div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;"></div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;"></div>
                                    <div style="display: none;">
                                        <div style="visibility:hidden">&#xa0;</div>
                                    </div>
                                </td>
                                <td class="style_32">
                                    <div>
                                        <div style="visibility:hidden">&#xa0;</div>
                                    </div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;"></div>
                                </td>
                                <td class="style_32"></td>
                            </tr>
                            <tr class="style_31" style="vertical-align:top;">
                                <td class="style_32">
                                    <div>15</div>
                                </td>
                                <td class="style_32"></td>
                                <td class="style_32"></td>
                                <td class="style_32"></td>
                                <td class="style_32">
                                    <div>Electricity / Power - Factory (80%)</div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;"></div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;">১২০.০০</div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;"></div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;"></div>
                                    <div style="display: none;">
                                        <div style="visibility:hidden">&#xa0;</div>
                                    </div>
                                </td>
                                <td class="style_32">
                                    <div>
                                        <div style="visibility:hidden">&#xa0;</div>
                                    </div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;"></div>
                                </td>
                                <td class="style_32"></td>
                            </tr>
                            <tr class="style_31" style="vertical-align:top;">
                                <td class="style_32">
                                    <div>16</div>
                                </td>
                                <td class="style_32"></td>
                                <td class="style_32"></td>
                                <td class="style_32"></td>
                                <td class="style_32">
                                    <div>Natural Gas (80%)</div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;"></div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;">১৬০.০০</div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;"></div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;"></div>
                                    <div style="display: none;">
                                        <div style="visibility:hidden">&#xa0;</div>
                                    </div>
                                </td>
                                <td class="style_32">
                                    <div>
                                        <div style="visibility:hidden">&#xa0;</div>
                                    </div>
                                </td>
                                <td class="style_32">
                                    <div style=" text-align:right;"></div>
                                </td>
                                <td class="style_32"></td>
                            </tr>
                            <tr class="style_27" style="vertical-align:top;">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <div style=" text-align:right;">১,৪২৯.১৪</div>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <div style=" text-align:right;">১,২৭০.৮৬</div>
                                </td>
                                <td></td>
                            </tr>
                        </table>
                        <table class="style_40" align="right"
                               style="border-collapse: collapse; empty-cells: show; width: 20%;"
                        >
                            <col>
                            <tr style="vertical-align:top;">
                                <td>
                                    <div class="style_37">
                                        <div style="visibility:hidden">&#xa0;</div>
                                    </div>
                                    <div class="style_21">
                                        প্রতিষ্ঠান কত্তৃক দায়িত্বপ্রাপ্ত ব্যক্তির নাম
                                    </div>
                                </td>
                            </tr>
                            <tr style="vertical-align:top;">
                                <td>
                                    <div class="style_21">
                                        পদবী
                                    </div>
                                </td>
                            </tr>
                            <tr style="vertical-align:top;">
                                <td>
                                    <div class="style_21">
                                        স্বাক্ষর
                                    </div>
                                </td>
                            </tr>
                            <tr style="vertical-align:top;">
                                <td>
                                    <div class="style_21">
                                        সীল
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <table class="style_36" style="border-collapse: collapse; empty-cells: show; width: 100%;"
                        >
                            <col>
                            <tr style="vertical-align:top;">
                                <td>
                                    <div class="style_37">
                                        <div style="visibility:hidden">&#xa0;</div>
                                    </div>
                                    <div class="style_37">
                                        বিশেষ দ্রষ্টব্যঃ
                                    </div>
                                </td>
                            </tr>
                            <tr style="vertical-align:top;">
                                <td>
                                    <div class="style_37">
                                        ১। যেকোনো পণ্য সরবরাহের নুন্যতম ১৫ দিন পূর্বে অনলাইনে মূসক কম্পিউটার সিস্টেমে বা
                                        সংশ্লিষ্ট বিভাগীয় কর্মকর্তার দপ্তরে উপকরণ উৎপাদ সহগ ঘোষণা দাখিল করিতে হইবে।&#xa0;<br/>২।
                                        পন্যমূল্য উপকরণ/কাঁচামাল বা&#xa0; মূল্য সংযোজনের খাতের পরিমাণ বা মূল্যে ৭.৫% এর
                                        বেশী পরিবর্তন হইলে নতুন ঘোষণা দাখিল করিতে হইবে।&#xa0;<br/>৩। পণ্য ক্রয়ের
                                        স্বপক্ষে প্রামাণিক দলিল হিসাবে বিল অব এন্ট্রি বা চালানপত্রের কপি সংযুক্ত করিতে
                                        হইবে।&#xa0;
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table style="border-collapse: collapse; empty-cells: show; width: 100%;"
            >
                <col style=" width: 1.5in;">
                <col>
                <col style=" width: 1.5in;">
                <tr style="vertical-align:top;">
                    <td class="style_3" colspan="3"></td>
                </tr>
                <tr style="vertical-align:top;">
                    <td class="style_3">
                        <div class="style_7">07/26/2019 7:28</div>
                    </td>
                    <td class="style_8" align="center" style="vertical-align:bottom;">
                        <div>
                            <div style="visibility:hidden">&#xa0;</div>
                        </div>
                    </td>
                    <td class="style_9" align="right" style="vertical-align:bottom;">
                        <span class="style_10"
                              style=" text-align:right;">Page&#xa0;</span>
                        <span class="style_11">1</span>
                        <span class="style_12"
                              style=" text-align:right;">&#xa0;of&#xa0;</span>
                        <span class="style_13" style=" text-align:right;">1</span>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>