<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<title>Mushok 6.2(Service Sales Book)</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
			<style type="text/css">
					.style_29 { padding-right: 3pt; padding-left: 3pt; border: thin solid rgb(0, 0, 0);}
					.style_28 { font-weight: bold; border-top: thin double black;}
					.style_24 { font-weight: bold; border-top: thin double black;}
					.style_27 { font-weight: bold; border-top: thin double black;}
					.style_26 { font-weight: bold; border-top: thin double black;}
					.style_8 { font-family: sans-serif; font-size: 9pt; color: rgb(96, 96, 96);}
					.style_9 { font-family: sans-serif; font-size: 9pt; color: rgb(96, 96, 96);}
					.style_7 { margin-top: 20pt;}
					.style_0 { font-family: sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 10pt; color: black; text-indent: 0em; letter-spacing: normal; word-spacing: normal; text-transform: none; white-space: normal; line-height: normal;}
					.style_21 { font-weight: bold; border-bottom: thin solid rgb(128, 128, 128);}
					.style_1 { font-weight: bold;}
					.style_20 { padding: 1pt 3pt; border: thin solid rgb(0, 0, 0);}
					.style_23 { border: thin solid rgb(0, 0, 0);}
					.style_22 { font-weight: bold; padding-right: 3pt; padding-left: 3pt;}
					.style_4 { margin-bottom: 15pt;}
					.style_5 { font-weight: bold;}
					.style_2 { font-weight: bold;}
					.style_3 { font-family: sans-serif; font-size: 9pt; color: rgb(96, 96, 96);}
					.style_18 { padding: 1pt 3pt; border: thin solid rgb(0, 0, 0);}
					.style_17 { font-family: Nikosh; font-weight: bold;}
					.style_19 { font-family: Nikosh;}
					.style_14 { padding: 1%;}
					.style_36 { font-family: Nikosh;}
					.style_13 { margin-top: 20pt;}
					.style_16 { border: thin solid rgb(128, 128, 128);}
					.style_15 { font-family: Nikosh;}
					.style_10 { margin-top: 20pt; padding-right: 3pt; padding-left: 3pt;}
					.style_31 { padding-right: 3pt; padding-left: 3pt; border: thin solid rgb(0, 0, 0);}
					.style_12 { margin-top: 20pt; padding-right: 1pt; padding-left: 1pt;}
					.style_11 { margin-top: 20pt;}
			</style>
		</head>
		<body class="style_0" style=" margin:0px;">
			<table cellpadding="0" rules="none" border="0" style="empty-cells: show; width:100%;">
				<col></col>
				<tr>
					<td valign="top">
						<table style="border-collapse: collapse; empty-cells: show; width: 100%;">
							<col></col>
							<tr valign="top">
								<td class="style_14">
									<table style="border-collapse: collapse; empty-cells: show; width: 100%;">
										<col></col>
										<tr valign="top">
											<td></td>
										</tr>
										<tr valign="top">
											<td>
												<div class="style_15" style=" text-align:center;">গণপ্রজাতন্ত্রী বাংলাদেশ সরকার<br/>জাতীয় রাজস্ব বোর্ড<br/><br/></div>
											</td>
										</tr>
										<tr valign="top">
											<td></td>
										</tr>
									</table>
									<table class="style_16" style="border-collapse: collapse; empty-cells: show; width: 100%;" id="__bookmark_1">
										<col style=" width: 3%;"></col>
										<col style=" width: 4%;"></col>
										<col style=" width: 6%;"></col>
										<col style=" width: 7%;"></col>
										<col style=" width: 5%;"></col>
										<col style=" width: 5%;"></col>
										<col style=" width: 6%;"></col>
										<col style=" width: 5%;"></col>
										<col style=" width: 4%;"></col>
										<col style=" width: 5%;"></col>
										<col style=" width: 4%;"></col>
										<col style=" width: 10%;"></col>
										<col style=" width: 5%;"></col>
										<col style=" width: 5%;"></col>
										<col style=" width: 5%;"></col>
										<col style=" width: 5%;"></col>
										<col style=" width: 6%;"></col>
										<col style=" width: 7%;"></col>
										<col style=" width: 3%;"></col>
										<tr class="style_17" valign="top" align="center">
											<th class="style_18" colspan="21" align="left">
												<div class="style_19" style=" text-align:right;">&#xa0;মূসক-৬.২</div>
												<div style=" text-align:center;">Expo Group,&#xa0; Address - DVat-111014</div>
											</th>
										</tr>
										<tr class="style_17" valign="top" align="center">
											<th class="style_18" colspan="21" align="left">
												<div class="style_15"  style=" text-align:center;">&#xa0;বিক্রয় হিসাব পুস্তক&#xa0;</div>
												<div class="style_15"  style=" text-align:center;">(পণ্য বা সেবা প্রক্রিয়াকরণে সম্পৃক্ত এমন নিবন্ধিত বা তালিকাভুক্ত ব্যক্তির জন্য প্রযোজ্য)</div>
												<div class="style_15"  style=" text-align:center;">[বিধি ৪০ এর উপদফা (১) এর দফা (খ) এবং ৪১ এর দফা (ক) দ্রষ্টব্য ]<br/></div>
											</th>
										</tr>
										<tr class="style_17" valign="top" align="center">
											<th class="style_18" colspan="21" align="left">
												<div  style=" text-align:center;">পণ্য/সেবার বিক্রয়</div>
											</th>
										</tr>
										<tr class="style_17" valign="top" align="center">
											<th class="style_18" rowspan="2" align="left">
												<div  style=" text-align:center;">ক্রমিক সংখ্যা</div>
											</th>
											<th class="style_18" rowspan="2" align="left">
												<div  style=" text-align:center;">তারিখ</div>
											</th>
											<th class="style_18" colspan="2" align="left">
												<div style=" text-align:center;">উৎপাদিত পণ্যের<br/>প্রারম্ভিক জের</div>
											</th>
											<th class="style_18" colspan="2" align="left">
												<div style=" text-align:center;">উৎপাদন</div>
											</th>
                                            <th class="style_18" colspan="2" align="left">
												<div style=" text-align:center;"> মোট উৎপাদিত
                                                পণ্য/সেবা</div>
											</th>
											<th class="style_18" colspan="3" align="left">
												<div style=" text-align:center;">ক্রেতা/ সরবরাহ গ্রহীতা</div>
											</th>
											<th class="style_18" colspan="2" align="left">
												<div style=" text-align:center;">চালানপত্রের বিবরণ</div>
											</th>
											<th class="style_18" colspan="5" align="left">
												<div style=" text-align:center;">বিক্রিত সরবরাহকৃত পণ্যের বিবরণ</div>
											</th>
											<th class="style_18" colspan="2" align="left">
												<div style=" text-align:center;">পণ্যের প্রান্তিক<br/>জের</div>
											</th>
											<th class="style_18" rowspan="2" align="left">
												<div style=" text-align:center;">মন্তব্য</div>
											</th>
										</tr>
										<tr class="style_17" valign="top" align="center">
											<th class="style_20" align="center">
												<div >পরিমাণ(একক)</div>
											</th>
											<th class="style_18" align="left">
												<div style=" text-align:center;">মূল্য</div>
											</th>
											<th class="style_18" align="left">
												<div style=" text-align:center;">পরিমাণ(একক)</div>
											</th>
											<th class="style_18" align="left">
												<div style=" text-align:center;">মূল্য</div>
											</th>
                                            <th class="style_18" align="left">
												<div style=" text-align:center;">পরিমাণ(একক)</div>
											</th>
											<th class="style_18" align="left">
												<div style=" text-align:center;">মূল্য</div>
											</th>
											<th class="style_18" align="left">
												<div style=" text-align:center;">নাম</div>
											</th>
											<th class="style_18" align="left">
												<div style=" text-align:center;">ঠিকানা</div>
											</th>
											<th class="style_18" align="left">
												<div style=" text-align:center;">নিবন্ধন/তালিকাভুক্তি/ জাতীয় পরিচয়পত্র নং</div>
											</th>
											<th class="style_18" align="left">
												<div style=" text-align:center;">নম্বর</div>
											</th>
											<th class="style_18" align="left">
												<div style=" text-align:center;">তারিখ<br/>ও<br/>সময়</div>
											</th>
											<th class="style_18" align="left">
												<div style=" text-align:center;">বিবরণ</div>
											</th>
											<th class="style_18" align="left">
												<div style=" text-align:center;">পরিমাণ</div>
											</th>
											<th class="style_18" align="left">
												<div style=" text-align:center;">করযোগ্য মূল্য</div>
											</th>
											<th class="style_18" align="left">
												<div style=" text-align:center;">সম্পূরক শুল্ক<br/>(যদি থাকে)</div>
											</th>
											<th class="style_18" align="left">
												<div style=" text-align:center;">মূসক</div>
											</th>
											<th class="style_18" align="left">
												<div style=" text-align:center;">পরিমাণ(একক)</div>
											</th>
											<th class="style_18" align="left">
												<div style=" text-align:center;">মূল্য</div>
											</th>
										</tr>
										<tr class="style_5" valign="top" align="center">
											<th class="style_18" align="left">
												<div style=" text-align:center;">(১)</div>
											</th>
											<th class="style_18" align="left">
												<div style=" text-align:center;">(২)</div>
											</th>
											<th class="style_20" align="center">
												<div style=" text-align:center;">(৩)</div>
											</th>
											<th class="style_18" align="left">
												<div >(৪)</div>
											</th>
											<th class="style_18" align="left">
												<div style=" text-align:center;">(৫)</div>
											</th>
											<th class="style_18" align="left">
												<div  style=" text-align:center;">(৬)</div>
											</th>
											<th class="style_18" align="left">
												<div style=" text-align:center;">(৭) <br>=(৩+৫)</div>
											</th>
											<th class="style_18" align="left">
												<div  style=" text-align:center;">(৮) <br>=(৪+৬)</div>
											</th>
											<th class="style_18" align="left">
												<div style=" text-align:center;">(৯)</div>
											</th>
											<th class="style_18" align="left">
												<div style=" text-align:center;">(১০)</div>
											</th>
											<th class="style_18" align="left">
												<div>(১১)</div>
											</th>
											<th class="style_18" align="left">
												<div >(১২)</div>
											</th>
											<th class="style_18" align="left">
												<div style=" text-align:center;">(১৩)</div>
											</th>
											<th class="style_18" align="left">
												<div style=" text-align:center;">(১৪)</div>
											</th>
											<th class="style_18" align="left">
												<div  style=" text-align:center;">(১৫)</div>
											</th>
											<th class="style_18" align="left">
												<div style=" text-align:center;">(১৬)</div>
											</th>
											<th class="style_18" align="left">
												<div style=" text-align:center;">(১৭)</div>
											</th>
											<th class="style_18" align="left">
												<div style=" text-align:center;">(১৮)</div>
											</th>
											<th class="style_18" align="left">
												<div style=" text-align:center;">(১৯)<br>=(৭-১১)</div>
											</th>
                                            <th class="style_18" align="left">
												<div style=" text-align:center;">(২০)<br>=(৮-২৬)</div>
											</th>
                                            <th class="style_18" align="left">
												<div style=" text-align:center;">(২১)</div>
											</th>
										</tr>
									</table>
									<div>
										<div style="visibility:hidden">&#xa0;</div>
									</div>
									<table style="border-collapse: collapse; empty-cells: show; width: 100%;" >
										<col></col>
										<tr valign="top">
											<td>
												<div >
													<div style="visibility:hidden">&#xa0;</div>
												</div>
												<div class="style_36" style="font-weight: bold">বিশেষ দ্রষ্টব্য<br/>* যে ক্ষেত্রে অনিবন্ধিত ব্যক্তির নিকট হইতে পণ্য ক্রয় করা হইবে সেই ক্ষেত্রে উক্ত ব্যক্তির পূর্ণাঙ্গ নাম, ঠিকানা ও জাতীয় পরিচয়পত্র নম্বর যথাযথভাবে সংশ্লিষ্ট কলাম [(৯), (১০) ও (১১)] এ আবশ্যিকভাবে উল্লেখ করিতে হইবে।&#xa0;</div>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<table style="border-collapse: collapse; empty-cells: show; width: 100%;">
							<col style=" width: 1.5in;"></col>
							<col></col>
							<col style=" width: 1.5in;"></col>
							<tr valign="top">
								<td class="style_3" colspan="3"></td>
							</tr>
							<tr valign="top">
								<td class="style_3">
									<div class="style_7">07/26/2019 7:30</div>
								</td>
								<td class="style_8" align="center" valign="bottom">
									<div>
										<div style="visibility:hidden">&#xa0;</div>
									</div>
								</td>
								<td class="style_9" align="right" valign="bottom">
									<span class="style_10" style=" text-align:right;">Page&#xa0;</span>
									<span class="style_11">1</span>
									<span class="style_12" style=" text-align:right;">&#xa0;of&#xa0;</span>
									<span class="style_13" style=" text-align:right;">1</span>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</body>
	</html>