<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<title>BIRT Report Viewer</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
			<style type="text/css">
					.style_29 { margin-right: 0pt; margin-left: 0pt; padding-right: 3pt; padding-left: 3pt; border-right: thin solid black;}
					.style_28 { font-family: Nikosh;}
					.style_24 { padding-right: 3pt; padding-left: 3pt; border: thin solid rgb(0, 0, 0);}
					.style_27 { margin-right: 0pt; margin-left: 0pt; padding-right: 3pt; padding-left: 3pt; border: thin solid black;}
					.style_26 { margin-right: 0pt; margin-left: 0pt; padding-right: 3pt; padding-left: 3pt;}
					.style_8 { font-family: sans-serif; font-size: 9pt; color: rgb(96, 96, 96);}
					.style_9 { font-family: sans-serif; font-size: 9pt; color: rgb(96, 96, 96);}
					.style_7 { margin-top: 20pt;}
					.style_0 { font-family: sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 10pt; color: black; text-indent: 0em; letter-spacing: normal; word-spacing: normal; text-transform: none; white-space: normal; line-height: normal;}
					.style_21 { border: thin solid rgb(128, 128, 128);}
					.style_1 { font-weight: bold;}
					.style_23 { padding: 1pt 3pt; border: thin solid rgb(0, 0, 0);}
					.style_22 { font-family: Nikosh; font-weight: bold;}
					.style_4 { margin-bottom: 15pt;}
					.style_5 { font-weight: bold;}
					.style_2 { font-weight: bold;}
					.style_3 { font-family: sans-serif; font-size: 9pt; color: rgb(96, 96, 96);}
					.style_18 { border: thin solid black;}
					.style_17 { font-size: 10pt;}
					.style_19 { font-family: Nikosh;}
					.style_14 { font-family: Nikosh; font-size: 16pt;}
					.style_13 { margin-top: 20pt;}
					.style_16 { font-weight: bold; font-size: 12pt;}
					.style_15 { font-size: 12pt;}
					.style_10 { margin-top: 20pt; padding-right: 3pt; padding-left: 3pt;}
					.style_12 { margin-top: 20pt; padding-right: 1pt; padding-left: 1pt;}
					.style_11 { margin-top: 20pt;}
					.style_30 { font-family: Nikosh;}
			</style>
			<script type="text/javascript">
			 //<![CDATA[
			   function redirect(target, url){
			       if (target =='_blank'){
			           open(url);
			       }
			       else if (target == '_top'){
			           window.top.location.href=url;
			       }
			       else if (target == '_parent'){
			           location.href=url;
			       }
			       else if (target == '_self'){
			           location.href =url;
			       }
			       else{
			           open(url);
			       }
			      }
			 //]]>
			</script>
		</head>
		<body class="style_0" style=" margin:0px;">
			<table cellpadding="0" rules="none" border="0" style="empty-cells: show; width:100%;">
				<col></col>
				<tr>
					<td valign="top">
						<table class="style_14" style="border-collapse: collapse; empty-cells: show; width: 100%;" id="AUTOGENBOOKMARK_1_8b27cd21-29a0-4609-9a1b-5dac164716f8">
							<col style=" width: 50%;"></col>
							<col></col>
							<col></col>
							<tr valign="top">
								<td colspan="3">
									<div class="style_15" id="AUTOGENBOOKMARK_2_7c2df429-c619-4b9b-875b-d0cc7c6bfb31" style=" text-align:center;">চালান ফরম&#xa0;</div>
								</td>
							</tr>
							<tr valign="top">
								<td colspan="2">
									<div class="style_16" id="AUTOGENBOOKMARK_3_7ef42482-740a-4793-95ba-9c0b988b15fb" style=" text-align:center;">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;টি , আর ফরম নং ৬ (এস, আর ৩৭ দ্রষ্টব্য )</div>
								</td>
								<td>
									<table class="style_17" style="border-collapse: collapse; empty-cells: show; width: 100%;text-align:right;" id="AUTOGENBOOKMARK_4_944fa3e8-e6f1-4885-827e-fc00187968fd">
										<col></col>
										<col></col>
										<col></col>
										<tr valign="top">
											<td class="style_18">
												<div id="AUTOGENBOOKMARK_5_3c5234bc-796e-4738-96d1-9291f9052801" style=" text-align:center;">১ম (মূল) কপি&#xa0;</div>
											</td>
											<td class="style_18">
												<div id="AUTOGENBOOKMARK_6_4a5052d1-9e77-443f-9638-19a6aede3c02" style=" text-align:center;">২য় কপি&#xa0;</div>
											</td>
											<td class="style_18">
												<div id="AUTOGENBOOKMARK_7_60bb31f8-f17e-4c5a-8e28-e64c2d745924" style=" text-align:center;">৩য় কপি&#xa0;</div>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
						<table class="style_19" style="border-collapse: collapse; empty-cells: show; width: 100%;" id="AUTOGENBOOKMARK_8_ba595107-8779-43f4-99d0-5584cba4b635">
							<col></col>
							<tr valign="top">
								<td>
									<div id="AUTOGENBOOKMARK_9_3fbb4d86-71b3-4c14-a400-5dfd2a5d756a">
										<div style="visibility:hidden">&#xa0;</div>
									</div>
								</td>
							</tr>
							<tr valign="top">
								<td>
									<div id="__bookmark_1">
										<div style="visibility:hidden">&#xa0;</div>
									</div>
								</td>
							</tr>
							<tr valign="top">
								<td>
									<div id="AUTOGENBOOKMARK_10_c1e20e1f-ec1a-4a5c-a80d-03ae5e712f42">বাংলাদেশ ব্যাংক / সোনালী ব্যাংকের ................Sonali Bank Ltd.............জেলায়..............Sonali Bank e-payment..............শাখায় টাকা জমা দেয়ার চালান</div>
								</td>
							</tr>
							<tr valign="top">
								<td>
									<span id="AUTOGENBOOKMARK_11_27849e72-0be1-4491-b608-d33445f47fee">কোড নং&#xa0;</span>
									<table style="border-collapse: collapse; empty-cells: show; display:inline-block; zoom:1; *+display:inline;" id="AUTOGENBOOKMARK_12_aaef0528-5ed0-4e15-a71b-efaf880ee225">
										<col style=" width: 0.22in;"></col>
										<tr style=" height: 0.22in;" valign="top">
											<td class="style_18"></td>
										</tr>
									</table>
									<table style="border-collapse: collapse; empty-cells: show; display:inline-block; zoom:1; *+display:inline;" id="AUTOGENBOOKMARK_13_ee8d1cc3-6ab2-4530-90dc-6c7506da27de">
										<col style=" width: 0.22in;"></col>
										<col style=" width: 0.22in;"></col>
										<col style=" width: 0.22in;"></col>
										<col style=" width: 0.22in;"></col>
										<tr style=" height: 0.22in;" valign="top">
											<td class="style_18"></td>
											<td class="style_18"></td>
											<td class="style_18"></td>
											<td class="style_18"></td>
										</tr>
									</table>
									<table style="border-collapse: collapse; empty-cells: show; display:inline-block; zoom:1; *+display:inline;" id="AUTOGENBOOKMARK_14_28c63bc4-1108-467f-b75f-a139d8e82986">
										<col style=" width: 0.22in;"></col>
										<col style=" width: 0.22in;"></col>
										<col style=" width: 0.22in;"></col>
										<col style=" width: 0.22in;"></col>
										<tr style=" height: 0.22in;" valign="top">
											<td class="style_18"></td>
											<td class="style_18"></td>
											<td class="style_18"></td>
											<td class="style_18"></td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
						<table class="style_21" style="border-collapse: collapse; empty-cells: show; width: 100%;" id="__bookmark_2">
							<col></col>
							<col style=" width: 15%;"></col>
							<col style=" width: 15%;"></col>
							<col></col>
							<col></col>
							<col></col>
							<col></col>
							<tr class="style_22" valign="top" align="center">
								<th class="style_23" colspan="4" align="left">
									<div id="AUTOGENBOOKMARK_15_4a6e2673-333c-477b-9d82-704ed5488008" style=" text-align:center;">জমা প্রদানকারী কর্তৃক পূরণ করিতে হইবে</div>
								</th>
								<th class="style_23" colspan="2" align="left">
									<div id="AUTOGENBOOKMARK_16_98aaa468-e52e-4839-a653-8691f1cb84dc" style=" text-align:center;">টাকার অংক&#xa0;</div>
								</th>
								<th class="style_23" rowspan="2" align="left">
									<div id="AUTOGENBOOKMARK_17_1566cc69-a38e-44f0-baae-fafaed2564bb" style=" text-align:center;">বিভাগের নাম, চালানের পৃষ্ঠাংকনকারী কর্মকর্তার নাম, পদবী ও দপ্তর । *</div>
								</th>
							</tr>
							<tr class="style_22" valign="top" align="center">
								<th class="style_23" align="left">
									<div id="AUTOGENBOOKMARK_18_90dd6e35-4b4e-4c54-9676-06fcf0286ba2">যাহার মারফত প্রদত্ত হইল তাহার নাম ও ঠিকানা।</div>
								</th>
								<th class="style_23" align="left">
									<div id="AUTOGENBOOKMARK_19_834d4c5a-9d5a-4cdf-a843-09dbdcbbbff5">যে ব্যাক্তি / প্রতিষ্ঠানের পক্ষ হইতে টাকা প্রদত্ত হইলো তাহার নাম, পদবী ও ঠিকানা।&#xa0;</div>
								</th>
								<th class="style_23" align="left">
									<div id="AUTOGENBOOKMARK_20_3f2632f6-bf21-41af-b706-b8f387f8028f" style=" text-align:center;">কি বাবদ জমা দেয়া হইলো তাহার বিবরণ।</div>
								</th>
								<th class="style_23" align="left">
									<div id="AUTOGENBOOKMARK_21_f239b9dd-5395-457c-b74f-1fd99acda29a" style=" text-align:center;">মুদ্রা ও নোটের বিবরণ / ড্রাফট , পে- অর্ডার ও চেকের বিবরণ।</div>
								</th>
								<th class="style_23" align="left">
									<div id="AUTOGENBOOKMARK_22_b9e5d2de-daf0-4e46-837c-9e9dedfd4251" style=" text-align:center;">টাকা</div>
								</th>
								<th class="style_23" align="left">
									<div id="AUTOGENBOOKMARK_23_ec75ac3a-1798-4740-9592-eb75f6b182aa" style=" text-align:center;">&#xa0;পয়সা&#xa0;</div>
								</th>
							</tr>
							<tr valign="top">
								<td class="style_24">
									<div>Name: null Address: null</div>
								</td>
								<td class="style_24">
									<div>Name: null Address: null</div>
								</td>
								<td class="style_24">
									<div>
										<div style="visibility:hidden">&#xa0;</div>
									</div>
								</td>
								<td class="style_24">
									<div></div>
								</td>
								<td class="style_24">
									<div style=" text-align:right;">০.০০</div>
								</td>
								<td class="style_24">
									<div style=" text-align:right;">০.০০</div>
								</td>
								<td class="style_24"></td>
							</tr>
							<tr valign="top">
								<td class="style_26"></td>
								<td class="style_26"></td>
								<td class="style_26"></td>
								<td class="style_27">
									<div class="style_19" id="AUTOGENBOOKMARK_24_ec7ae639-2a4b-4f02-bdca-20a5f03d5cd5">মোট টাকা&#xa0;</div>
								</td>
								<td class="style_27" colspan="3">
									<div>
										<div style="visibility:hidden">&#xa0;</div>
									</div>
								</td>
							</tr>
							<tr valign="top">
								<td class="style_27" colspan="5">
									<span class="style_28" id="AUTOGENBOOKMARK_25_2c2e8de9-e18f-4ff5-81eb-a447819bae8b">টাকা (কথায় )&#xa0;&#xa0;</span>
									<div>
										<div style="visibility:hidden">&#xa0;</div>
									</div>
								</td>
								<td class="style_26"></td>
								<td class="style_29"></td>
							</tr>
							<tr valign="top">
								<td class="style_27" colspan="5">
									<div class="style_19" id="AUTOGENBOOKMARK_26_0fb8efe2-061b-47a5-aa07-e5138fe5e768">টাকা পাওয়া গেল&#xa0;</div>
								</td>
								<td class="style_26"></td>
								<td class="style_29"></td>
							</tr>
							<tr class="style_18" valign="top">
								<td class="style_26">
									<div class="style_19" id="AUTOGENBOOKMARK_27_ad5b9164-db5c-44b5-86ef-2fe3a3456b36">তারিখ</div>
								</td>
								<td class="style_26">
									<div></div>
								</td>
								<td class="style_26"></td>
								<td class="style_26"></td>
								<td class="style_26"></td>
								<td class="style_26" colspan="2">
									<div class="style_30" id="AUTOGENBOOKMARK_28_d80c05a0-466a-437a-a4a2-ec9507493669" style=" text-align:center;">ম্যানেজার&#xa0;<br/>বাংলাদেশ ব্যাংক / সোনালী ব্যাংক</div>
								</td>
							</tr>
						</table>
						<div id="AUTOGENBOOKMARK_29_ed12c6d1-c6dc-4108-b414-ba1bf615e046">
							<div style="visibility:hidden">&#xa0;</div>
						</div>
						<div class="style_19" id="AUTOGENBOOKMARK_30_abc42ebf-01b6-4bbd-9ff9-e0bf260b1156"><br/>&#xa0;<br/><br/>নোট : ১। সংশ্লিষ্ট দপ্তরের সাথে যোগাযোগ করিয়া সঠিক কোড নম্বর জানিয়া লইবেন।&#xa0;<br/>&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0; ২। *যে সকল ক্ষেত্রে কর্মকর্তা কর্তৃক পৃষ্ঠাংকন প্রয়োজন , সে সকল ক্ষেত্রে প্রযোজ্য হইবে।&#xa0;<br/><br/>বাংলাদেশ সরকারের ই - সিটিজেন সার্ভিস এপ্লিকেশন থেকে মুদ্রিত।&#xa0;&#xa0;</div>
					</td>
				</tr>
				<tr>
					<td>
						<table style="border-collapse: collapse; empty-cells: show; width: 100%;" id="AUTOGENBOOKMARK_31_6f8c6be4-1419-42ca-ad02-bc46385310d2">
							<col style=" width: 1.5in;"></col>
							<col></col>
							<col style=" width: 1.5in;"></col>
							<tr valign="top">
								<td class="style_3" colspan="3"></td>
							</tr>
							<tr valign="top">
								<td class="style_3">
									<div class="style_7">07/26/2019 7:37</div>
								</td>
								<td class="style_8" align="center" valign="bottom">
									<div>
										<div style="visibility:hidden">&#xa0;</div>
									</div>
								</td>
								<td class="style_9" align="right" valign="bottom">
									<span class="style_10" id="AUTOGENBOOKMARK_32_cb2bb6b0-46a5-498a-abba-1049c186b4f3" style=" text-align:right;">Page&#xa0;</span>
									<span class="style_11">1</span>
									<span class="style_12" id="AUTOGENBOOKMARK_33_1b9e4bc3-253d-4457-ba08-2670d11cc8e6" style=" text-align:right;">&#xa0;of&#xa0;</span>
									<span class="style_13" style=" text-align:right;">1</span>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
				<hr style="color:red"/>
				<div style="color:red">
					<div>The following items have errors:
			</div>
			<br>
						<div>
							<div  id="error_title" style="text-decoration:underline">Data (id = 2660):
			</div>
			<div>
			<span id="error_icon0_0"  style="cursor:pointer" onclick="if (document.getElementById('error_detail0_0').style.display == 'none') { document.getElementById('error_icon0_0').innerHTML = '- '; document.getElementById('error_detail0_0').style.display = 'block'; }else { document.getElementById('error_icon0_0').innerHTML = '+ '; document.getElementById('error_detail0_0').style.display = 'none'; }" > + </span>Error happens when try to read value of column: company_name. This might cause by a runtime error in the evaluation of binding expression, i.e. a divide 0 error. (Element ID:2660)
							<pre id="error_detail0_0" style="display:none;" >data.engine.ReadColumnValueFromDocumentError ( 1 time(s) )
detail : org.eclipse.birt.report.engine.api.EngineException: Error happens when try to read value of column: company_name. This might cause by a runtime error in the evaluation of binding expression, i.e. a divide 0 error. (Element ID:2660)
	at org.eclipse.birt.report.engine.executor.ExecutionContext.addException(ExecutionContext.java:1206)
	at org.eclipse.birt.report.engine.executor.ExecutionContext.addException(ExecutionContext.java:1185)
	at org.eclipse.birt.report.engine.internal.document.v4.DataItemExecutor.doExecute(DataItemExecutor.java:97)
	at org.eclipse.birt.report.engine.internal.document.v4.ReportItemExecutor.execute(ReportItemExecutor.java:294)
	at org.eclipse.birt.report.engine.internal.document.v4.ContainerExecutor.prepareChildExecutor(ContainerExecutor.java:226)
	at org.eclipse.birt.report.engine.internal.document.v4.ContainerExecutor.hasNextChild(ContainerExecutor.java:110)
	at org.eclipse.birt.report.engine.internal.executor.wrap.WrappedReportItemExecutor.hasNextChild(WrappedReportItemExecutor.java:86)
	at org.eclipse.birt.report.engine.internal.executor.wrap.WrappedReportItemExecutor.hasNextChild(WrappedReportItemExecutor.java:86)
	at org.eclipse.birt.report.engine.layout.html.HTMLBlockStackingLM.layoutNodes(HTMLBlockStackingLM.java:62)
	at org.eclipse.birt.report.engine.layout.html.HTMLStackingLM.layoutChildren(HTMLStackingLM.java:26)
	at org.eclipse.birt.report.engine.layout.html.HTMLAbstractLM.layout(HTMLAbstractLM.java:140)
	at org.eclipse.birt.report.engine.layout.html.HTMLInlineStackingLM.resumeLayout(HTMLInlineStackingLM.java:111)
	at org.eclipse.birt.report.engine.layout.html.HTMLInlineStackingLM.layoutNodes(HTMLInlineStackingLM.java:160)
	at org.eclipse.birt.report.engine.layout.html.HTMLStackingLM.layoutChildren(HTMLStackingLM.java:26)
	at org.eclipse.birt.report.engine.layout.html.HTMLAbstractLM.layout(HTMLAbstractLM.java:140)
	at org.eclipse.birt.report.engine.layout.html.HTMLBlockStackingLM.layoutNodes(HTMLBlockStackingLM.java:70)
	at org.eclipse.birt.report.engine.layout.html.HTMLStackingLM.layoutChildren(HTMLStackingLM.java:26)
	at org.eclipse.birt.report.engine.layout.html.HTMLTableLM.layoutChildren(HTMLTableLM.java:132)
	at org.eclipse.birt.report.engine.layout.html.HTMLAbstractLM.layout(HTMLAbstractLM.java:140)
	at org.eclipse.birt.report.engine.layout.html.HTMLBlockStackingLM.layoutNodes(HTMLBlockStackingLM.java:70)
	at org.eclipse.birt.report.engine.layout.html.HTMLPageLM.layout(HTMLPageLM.java:92)
	at org.eclipse.birt.report.engine.layout.html.HTMLReportLayoutEngine.layout(HTMLReportLayoutEngine.java:100)
	at org.eclipse.birt.report.engine.api.impl.RenderTask$PageRangeRender.render(RenderTask.java:681)
	at org.eclipse.birt.report.engine.api.impl.RenderTask.render(RenderTask.java:294)
	at org.eclipse.birt.report.service.ReportEngineService.renderReport(ReportEngineService.java:1547)
	at org.eclipse.birt.report.service.BirtViewerReportService.renderReport(BirtViewerReportService.java:369)
	at org.eclipse.birt.report.service.actionhandler.BirtRenderReportActionHandler.__execute(BirtRenderReportActionHandler.java:65)
	at org.eclipse.birt.report.service.actionhandler.AbstractBaseActionHandler.execute(AbstractBaseActionHandler.java:90)
	at org.eclipse.birt.report.presentation.aggregation.layout.EngineFragment.doService(EngineFragment.java:312)
	at org.eclipse.birt.report.presentation.aggregation.AbstractBaseFragment.service(AbstractBaseFragment.java:76)
	at org.eclipse.birt.report.servlet.BirtEngineServlet.__doGet(BirtEngineServlet.java:120)
	at org.eclipse.birt.report.servlet.BaseReportEngineServlet.doGet(BaseReportEngineServlet.java:185)
	at javax.servlet.http.HttpServlet.service(HttpServlet.java:634)
	at org.apache.axis.transport.http.AxisServletBase.service(AxisServletBase.java:327)
	at javax.servlet.http.HttpServlet.service(HttpServlet.java:741)
	at org.eclipse.birt.report.servlet.BaseReportEngineServlet.service(BaseReportEngineServlet.java:116)
	at org.apache.catalina.core.ApplicationFilterChain.internalDoFilter(ApplicationFilterChain.java:231)
	at org.apache.catalina.core.ApplicationFilterChain.doFilter(ApplicationFilterChain.java:166)
	at org.eclipse.birt.report.filter.ViewerFilter.doFilter(ViewerFilter.java:68)
	at org.apache.catalina.core.ApplicationFilterChain.internalDoFilter(ApplicationFilterChain.java:193)
	at org.apache.catalina.core.ApplicationFilterChain.doFilter(ApplicationFilterChain.java:166)
	at org.apache.tomcat.websocket.server.WsFilter.doFilter(WsFilter.java:53)
	at org.apache.catalina.core.ApplicationFilterChain.internalDoFilter(ApplicationFilterChain.java:193)
	at org.apache.catalina.core.ApplicationFilterChain.doFilter(ApplicationFilterChain.java:166)
	at org.apache.catalina.core.StandardWrapperValve.invoke(StandardWrapperValve.java:202)
	at org.apache.catalina.core.StandardContextValve.invoke(StandardContextValve.java:96)
	at org.apache.catalina.authenticator.AuthenticatorBase.invoke(AuthenticatorBase.java:490)
	at org.apache.catalina.core.StandardHostValve.invoke(StandardHostValve.java:139)
	at org.apache.catalina.valves.ErrorReportValve.invoke(ErrorReportValve.java:92)
	at org.apache.catalina.valves.AbstractAccessLogValve.invoke(AbstractAccessLogValve.java:678)
	at org.apache.catalina.core.StandardEngineValve.invoke(StandardEngineValve.java:74)
	at org.apache.catalina.connector.CoyoteAdapter.service(CoyoteAdapter.java:343)
	at org.apache.coyote.http11.Http11Processor.service(Http11Processor.java:408)
	at org.apache.coyote.AbstractProcessorLight.process(AbstractProcessorLight.java:66)
	at org.apache.coyote.AbstractProtocol$ConnectionHandler.process(AbstractProtocol.java:853)
	at org.apache.tomcat.util.net.NioEndpoint$SocketProcessor.doRun(NioEndpoint.java:1587)
	at org.apache.tomcat.util.net.SocketProcessorBase.run(SocketProcessorBase.java:49)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at org.apache.tomcat.util.threads.TaskThread$WrappingRunnable.run(TaskThread.java:61)
	at java.lang.Thread.run(Thread.java:748)
Caused by: org.eclipse.birt.data.engine.core.DataException: Error happens when try to read value of column: company_name. This might cause by a runtime error in the evaluation of binding expression, i.e. a divide 0 error.
	at org.eclipse.birt.data.engine.impl.document.util.ExprDataReader1.getValueMap(ExprDataReader1.java:303)
	at org.eclipse.birt.data.engine.impl.document.util.ExprDataReader1.getRowValue(ExprDataReader1.java:226)
	at org.eclipse.birt.data.engine.impl.document.util.ExprResultSet.getValue(ExprResultSet.java:187)
	at org.eclipse.birt.data.engine.impl.document.ResultIterator.getValue(ResultIterator.java:167)
	at org.eclipse.birt.report.engine.data.dte.QueryResultSet.getValue(QueryResultSet.java:403)
	at org.eclipse.birt.report.engine.internal.document.v4.DataItemExecutor.doExecute(DataItemExecutor.java:86)
	... 58 more

							</pre>
			</div>
			</div>
			<br>
						<div>
							<div  id="error_title" style="text-decoration:underline">Data (id = 2661):
			</div>
			<div>
			<span id="error_icon1_0"  style="cursor:pointer" onclick="if (document.getElementById('error_detail1_0').style.display == 'none') { document.getElementById('error_icon1_0').innerHTML = '- '; document.getElementById('error_detail1_0').style.display = 'block'; }else { document.getElementById('error_icon1_0').innerHTML = '+ '; document.getElementById('error_detail1_0').style.display = 'none'; }" > + </span>Error happens when try to read value of column: display_amount. This might cause by a runtime error in the evaluation of binding expression, i.e. a divide 0 error. (Element ID:2661)
							<pre id="error_detail1_0" style="display:none;" >data.engine.ReadColumnValueFromDocumentError ( 1 time(s) )
detail : org.eclipse.birt.report.engine.api.EngineException: Error happens when try to read value of column: display_amount. This might cause by a runtime error in the evaluation of binding expression, i.e. a divide 0 error. (Element ID:2661)
	at org.eclipse.birt.report.engine.executor.ExecutionContext.addException(ExecutionContext.java:1206)
	at org.eclipse.birt.report.engine.executor.ExecutionContext.addException(ExecutionContext.java:1185)
	at org.eclipse.birt.report.engine.internal.document.v4.DataItemExecutor.doExecute(DataItemExecutor.java:97)
	at org.eclipse.birt.report.engine.internal.document.v4.ReportItemExecutor.execute(ReportItemExecutor.java:294)
	at org.eclipse.birt.report.engine.internal.document.v4.ContainerExecutor.prepareChildExecutor(ContainerExecutor.java:226)
	at org.eclipse.birt.report.engine.internal.document.v4.ContainerExecutor.hasNextChild(ContainerExecutor.java:110)
	at org.eclipse.birt.report.engine.internal.executor.wrap.WrappedReportItemExecutor.hasNextChild(WrappedReportItemExecutor.java:86)
	at org.eclipse.birt.report.engine.internal.executor.wrap.WrappedReportItemExecutor.hasNextChild(WrappedReportItemExecutor.java:86)
	at org.eclipse.birt.report.engine.layout.html.HTMLBlockStackingLM.layoutNodes(HTMLBlockStackingLM.java:62)
	at org.eclipse.birt.report.engine.layout.html.HTMLStackingLM.layoutChildren(HTMLStackingLM.java:26)
	at org.eclipse.birt.report.engine.layout.html.HTMLAbstractLM.layout(HTMLAbstractLM.java:140)
	at org.eclipse.birt.report.engine.layout.html.HTMLInlineStackingLM.resumeLayout(HTMLInlineStackingLM.java:111)
	at org.eclipse.birt.report.engine.layout.html.HTMLInlineStackingLM.layoutNodes(HTMLInlineStackingLM.java:160)
	at org.eclipse.birt.report.engine.layout.html.HTMLStackingLM.layoutChildren(HTMLStackingLM.java:26)
	at org.eclipse.birt.report.engine.layout.html.HTMLAbstractLM.layout(HTMLAbstractLM.java:140)
	at org.eclipse.birt.report.engine.layout.html.HTMLBlockStackingLM.layoutNodes(HTMLBlockStackingLM.java:70)
	at org.eclipse.birt.report.engine.layout.html.HTMLStackingLM.layoutChildren(HTMLStackingLM.java:26)
	at org.eclipse.birt.report.engine.layout.html.HTMLTableBandLM.layoutChildren(HTMLTableBandLM.java:67)
	at org.eclipse.birt.report.engine.layout.html.HTMLAbstractLM.layout(HTMLAbstractLM.java:140)
	at org.eclipse.birt.report.engine.layout.html.HTMLBlockStackingLM.layoutNodes(HTMLBlockStackingLM.java:70)
	at org.eclipse.birt.report.engine.layout.html.HTMLStackingLM.layoutChildren(HTMLStackingLM.java:26)
	at org.eclipse.birt.report.engine.layout.html.HTMLTableLM.layoutChildren(HTMLTableLM.java:132)
	at org.eclipse.birt.report.engine.layout.html.HTMLAbstractLM.layout(HTMLAbstractLM.java:140)
	at org.eclipse.birt.report.engine.layout.html.HTMLBlockStackingLM.layoutNodes(HTMLBlockStackingLM.java:70)
	at org.eclipse.birt.report.engine.layout.html.HTMLPageLM.layout(HTMLPageLM.java:92)
	at org.eclipse.birt.report.engine.layout.html.HTMLReportLayoutEngine.layout(HTMLReportLayoutEngine.java:100)
	at org.eclipse.birt.report.engine.api.impl.RenderTask$PageRangeRender.render(RenderTask.java:681)
	at org.eclipse.birt.report.engine.api.impl.RenderTask.render(RenderTask.java:294)
	at org.eclipse.birt.report.service.ReportEngineService.renderReport(ReportEngineService.java:1547)
	at org.eclipse.birt.report.service.BirtViewerReportService.renderReport(BirtViewerReportService.java:369)
	at org.eclipse.birt.report.service.actionhandler.BirtRenderReportActionHandler.__execute(BirtRenderReportActionHandler.java:65)
	at org.eclipse.birt.report.service.actionhandler.AbstractBaseActionHandler.execute(AbstractBaseActionHandler.java:90)
	at org.eclipse.birt.report.presentation.aggregation.layout.EngineFragment.doService(EngineFragment.java:312)
	at org.eclipse.birt.report.presentation.aggregation.AbstractBaseFragment.service(AbstractBaseFragment.java:76)
	at org.eclipse.birt.report.servlet.BirtEngineServlet.__doGet(BirtEngineServlet.java:120)
	at org.eclipse.birt.report.servlet.BaseReportEngineServlet.doGet(BaseReportEngineServlet.java:185)
	at javax.servlet.http.HttpServlet.service(HttpServlet.java:634)
	at org.apache.axis.transport.http.AxisServletBase.service(AxisServletBase.java:327)
	at javax.servlet.http.HttpServlet.service(HttpServlet.java:741)
	at org.eclipse.birt.report.servlet.BaseReportEngineServlet.service(BaseReportEngineServlet.java:116)
	at org.apache.catalina.core.ApplicationFilterChain.internalDoFilter(ApplicationFilterChain.java:231)
	at org.apache.catalina.core.ApplicationFilterChain.doFilter(ApplicationFilterChain.java:166)
	at org.eclipse.birt.report.filter.ViewerFilter.doFilter(ViewerFilter.java:68)
	at org.apache.catalina.core.ApplicationFilterChain.internalDoFilter(ApplicationFilterChain.java:193)
	at org.apache.catalina.core.ApplicationFilterChain.doFilter(ApplicationFilterChain.java:166)
	at org.apache.tomcat.websocket.server.WsFilter.doFilter(WsFilter.java:53)
	at org.apache.catalina.core.ApplicationFilterChain.internalDoFilter(ApplicationFilterChain.java:193)
	at org.apache.catalina.core.ApplicationFilterChain.doFilter(ApplicationFilterChain.java:166)
	at org.apache.catalina.core.StandardWrapperValve.invoke(StandardWrapperValve.java:202)
	at org.apache.catalina.core.StandardContextValve.invoke(StandardContextValve.java:96)
	at org.apache.catalina.authenticator.AuthenticatorBase.invoke(AuthenticatorBase.java:490)
	at org.apache.catalina.core.StandardHostValve.invoke(StandardHostValve.java:139)
	at org.apache.catalina.valves.ErrorReportValve.invoke(ErrorReportValve.java:92)
	at org.apache.catalina.valves.AbstractAccessLogValve.invoke(AbstractAccessLogValve.java:678)
	at org.apache.catalina.core.StandardEngineValve.invoke(StandardEngineValve.java:74)
	at org.apache.catalina.connector.CoyoteAdapter.service(CoyoteAdapter.java:343)
	at org.apache.coyote.http11.Http11Processor.service(Http11Processor.java:408)
	at org.apache.coyote.AbstractProcessorLight.process(AbstractProcessorLight.java:66)
	at org.apache.coyote.AbstractProtocol$ConnectionHandler.process(AbstractProtocol.java:853)
	at org.apache.tomcat.util.net.NioEndpoint$SocketProcessor.doRun(NioEndpoint.java:1587)
	at org.apache.tomcat.util.net.SocketProcessorBase.run(SocketProcessorBase.java:49)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at org.apache.tomcat.util.threads.TaskThread$WrappingRunnable.run(TaskThread.java:61)
	at java.lang.Thread.run(Thread.java:748)
Caused by: org.eclipse.birt.data.engine.core.DataException: Error happens when try to read value of column: display_amount. This might cause by a runtime error in the evaluation of binding expression, i.e. a divide 0 error.
	at org.eclipse.birt.data.engine.impl.document.util.ExprDataReader1.getValueMap(ExprDataReader1.java:303)
	at org.eclipse.birt.data.engine.impl.document.util.ExprDataReader1.getRowValue(ExprDataReader1.java:226)
	at org.eclipse.birt.data.engine.impl.document.util.ExprResultSet.getValue(ExprResultSet.java:187)
	at org.eclipse.birt.data.engine.impl.document.ResultIterator.getValue(ResultIterator.java:167)
	at org.eclipse.birt.report.engine.data.dte.QueryResultSet.getValue(QueryResultSet.java:403)
	at org.eclipse.birt.report.engine.internal.document.v4.DataItemExecutor.doExecute(DataItemExecutor.java:86)
	... 62 more

							</pre>
			</div>
			</div>
			<br>
			</div></body>
	</html>